{
  "swagger": "2.0",
  "info": {
    "title": "Box Platform API",
    "description": "[Box Platform](https://box.dev) provides functionality to provide access to content stored within [Box](https://box.com). It provides endpoints for basic manipulation of files and folders, management of users within an enterprise, as well as more complex topics such as legal holds and retention policies.",
    "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
    "contact": {
      "name": "Box, Inc",
      "url": "https://box.dev",
      "email": "devrel@box.com"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "2.0.0"
  },
  "host": "api.box.com",
  "basePath": "/2.0",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/files/{file_id}": {
      "get": {
        "operationId": "get_files_id",
        "summary": "Get file information",
        "tags": ["Files"],
        "description": "Retrieves the details about a file.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The unique identifier that represent a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response unless explicitly specified, instead only\nfields for the mini representation are returned, additional\nto the fields requested.\n\nAdditionally this field can be used to query any metadata\napplied to the file by specifying the `metadata` field as well\nas the scope and key of the template to retrieve, for example\n`?field=metadata.enterprise_12345.contractTemplate`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "if-none-match",
            "description": "Ensures an item is only returned if it has changed.\n\nPass in the item's last observed `etag` value\ninto this header and the endpoint will fail\nwith a `304 Not Modified` if the item has not\nchanged since.",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "boxapi",
            "description": "The URL, and optional password, for the shared link of this item.\n\nThis header can be used to access items that have not been\nexplicitly shared with a user.\n\nUse the format `shared_link=[link]` or if a password is required then\nuse `shared_link=[link]&shared_link_password=[password]`.\n\nThis header can be used on the file or folder shared, as well as on any files\nor folders nested within the item.",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-rep-hints",
            "description": "A header required to request specific `representations`\nof a file. Use this in combination with the `fields` query\nparameter to request a specific file representation.\n\nThe general format for these representations is\n`X-Rep-Hints: [...]` where `[...]` is one or many\nhints in the format `[fileType?query]`.\n\nFor example, to request a `png` representation in `32x32`\nas well as `94x94` pixel dimensions provide the following\nhints.\n\n`X-Rep-Hints: [jpg?dimensions=32x32][jpg?dimensions=94x94]`\n\nAdditionally, a `text` representation is available for all\ndocument file types in Box using the `[extracted_text]`\nrepresentation.\n\n`X-Rep-Hints: [extracted_text]`",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a file object.\n\nNot all available fields are returned by default. Use the\n[fields](#param-fields) query parameter to explicitly request\nany specific fields.",
            "$ref": "#/definitions/File"
          },
          "304": {
            "description": "Returns an empty response when the `If-None-Match` header matches\nthe current `etag` value of the folder. This indicates that the folder\nhas not changed since it was last requested."
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "$ref": "#/definitions/ClientError"
          },
          "404": {
            "description": "Returned if the file is not found, or the user does not\nhave access to the file.",
            "$ref": "#/definitions/ClientError"
          },
          "405": {
            "description": "Returned if the `file_id` is not in a recognized format.",
            "$ref": "#/definitions/ClientError"
          },
          "415": {
            "description": "Returns an error if an action is performed on a file with an\nincorrect media type.\n\n* `unsupported_media_type` when requesting an `expiring_embed_link`\n  for a file that is not supported by Box Embed.",
            "$ref": "#/definitions/ClientError"
          },
          "default": {
            "description": "An unexpected client error.",
            "$ref": "#/definitions/ClientError"
          }
        }
      },
      "post": {
        "operationId": "post_files_id",
        "summary": "Restore file",
        "tags": ["Trashed files"],
        "description": "Restores a file that has been moved to the trash.\n\nAn optional new parent ID can be provided to restore the file to in case the\noriginal folder has been deleted.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The unique identifier that represent a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response unless explicitly specified, instead only\nfields for the mini representation are returned, additional\nto the fields requested.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "An optional new name for the file.",
                  "type": "string"
                },
                "parent": {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "The parent for this item",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of parent item"
                        }
                      }
                    },
                    {
                      "description": "Specifies an optional ID of a folder to restore the file to\nwhen the original folder no longer exists.\n\nPlease be aware that this ID will only be used if the original\nfolder no longer exists. Use this ID to provide a fallback\nlocation to restore the file to if the original location\nhas been deleted."
                    }
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns a file object when the file has been restored.",
            "$ref": "#/definitions/File"
          },
          "403": {
            "description": "Returns an error if the user does not have access to the folder\nthe file is being restored to, or the user does not have permission\nto restore files from the trash.",
            "$ref": "#/definitions/ClientError"
          },
          "404": {
            "description": "Returns an error if the file is not in the trash.",
            "$ref": "#/definitions/ClientError"
          },
          "409": {
            "description": "Returns an error if there is an file with the same name\nin the folder the file is being restored to.",
            "$ref": "#/definitions/ClientError"
          },
          "default": {
            "description": "An unexpected client error.",
            "$ref": "#/definitions/ClientError"
          }
        }
      },
      "put": {
        "operationId": "put_files_id",
        "summary": "Update file",
        "tags": ["Files"],
        "description": "Updates a file. This can be used to rename or move a file,\ncreate a shared link, or lock a file.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The unique identifier that represent a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.\n\nBe aware that specifying this parameter will have the\neffect that none of the standard fields are returned in\nthe response unless explicitly specified, instead only\nfields for the mini representation are returned, additional\nto the fields requested.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "if-match",
            "description": "Ensures this item hasn't recently changed before\nmaking changes.\n\nPass in the item's last observed `etag` value\ninto this header and the endpoint will fail\nwith a `412 Precondition Failed` if it\nhas changed since.",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "An optional different name for the file. This can be used to\nrename the file."
                },
                "description": {
                  "type": "string",
                  "description": "The description for a file. This can be seen in the right-hand sidebar panel\nwhen viewing a file in the Box web app. Additionally, this index is used in\nthe search index of the file, allowing users to find the file by the content\nin the description.",
                  "maxLength": 256
                },
                "parent": {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "The parent for this item",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The ID of parent item"
                        }
                      }
                    },
                    {
                      "description": "An optional new parent folder for the file. This can be used\nto move the file to a new folder."
                    }
                  ]
                },
                "shared_link": {
                  "allOf": [
                    {
                      "description": "Defines a shared link for an item. Set this to `null` to remove\nthe shared link.",
                      "type": "object",
                      "properties": {
                        "access": {
                          "type": "string",
                          "description": "The level of access for the shared link. This can be\nrestricted to anyone with the link (`open`), only people\nwithin the company (`company`) and only those who\nhave been invited to the folder (`collaborators`).\n\nIf not set, this field defaults to the access level specified\nby the enterprise admin. To create a shared link with this\ndefault setting pass the `shared_link` object with\nno `access` field, for example `{ \"shared_link\": {} }`.\n\nThe `company` access level is only available to paid\naccounts.",
                          "enum": ["open", "company", "collaborators"]
                        },
                        "password": {
                          "type": "string",
                          "description": "The password required to access the shared link. Set the\npassword to `null` to remove it.\n\nA password can only be set when `access` is set to `open`."
                        },
                        "vanity_name": {
                          "type": "string",
                          "description": "Defines a custom vanity name to use in the shared link URL,\nfor example `https://app.box.com/v/my-shared-link`.\n\nCustom URLs should not be used when sharing sensitive content\nas vanity URLs are a lot easier to guess than regular shared links."
                        },
                        "unshared_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The timestamp at which this shared link will\nexpire. This field can only be set by\nusers with paid accounts."
                        },
                        "permissions": {
                          "type": "object",
                          "properties": {
                            "can_download": {
                              "type": "boolean",
                              "description": "If the shared link allows for downloading of files.\nThis can only be set when `access` is set to\n`open` or `company`."
                            }
                          }
                        }
                      }
                    },
                    {
                      "description": "Defines a shared link for a file. Set this to `null` to remove\nthe shared link."
                    }
                  ]
                },
                "lock": {
                  "type": "object",
                  "description": "Defines a lock on an item. This prevents the item from being\nmoved, renamed, or otherwise changed by anyone other than the user\nwho created the lock.\n\nSet this to `null` to remove the lock.",
                  "required": ["type"],
                  "properties": {
                    "access": {
                      "type": "string",
                      "description": "The type of this object.",
                      "enum": ["lock"]
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Defines the time at which the lock expires."
                    },
                    "is_download_prevented": {
                      "type": "boolean",
                      "description": "Defines if the file can be downloaded while it is locked."
                    }
                  }
                },
                "permissions": {
                  "description": "Defines who can download a file.",
                  "type": "object",
                  "properties": {
                    "can_download": {
                      "description": "Defines who is allowed to download this file. The possible\nvalues are either `open` for everyone or `company` for\nthe other members of the user's enterprise.\n\nThis setting overrides the download permissions that are\nnormally part of the `role` of a collaboration. When set to\n`company`, this essentially removes the download option for\nexternal users with `viewer` or `editor` a roles.",
                      "type": "string",
                      "enum": ["open", "company"]
                    }
                  }
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 1,
                  "maxItems": 100,
                  "description": "The tags for this item. These tags are shown in\nthe Box web app and mobile apps next to an item.\n\nTo add or remove a tag, retrieve the item's current tags,\nmodify them, and then update this field.\n\nThere is a limit of 100 tags per item, and 10,000\nunique tags per enterprise."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a file object.\n\nNot all available fields are returned by default. Use the\n[fields](#param-fields) query parameter to explicitly request\nany specific fields.",
            "$ref": "#/definitions/File"
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "$ref": "#/definitions/ClientError"
          },
          "403": {
            "description": "Returned if the user does not have all the permissions to complete the\nupdate.\n\n* `access_denied_insufficient_permissions` when the authenticated user\ndoes not have access the destination folder to move the file to.",
            "$ref": "#/definitions/ClientError"
          },
          "404": {
            "description": "Returned if the file is not found, or the user does not\nhave access to the file.",
            "$ref": "#/definitions/ClientError"
          },
          "405": {
            "description": "Returned if the `file_id` is not in a recognized format.",
            "$ref": "#/definitions/ClientError"
          },
          "412": {
            "description": "Returns an error when the `If-Match` header does not match\nthe current `etag` value of the file. This indicates that the file\nhas changed since it was last requested.",
            "$ref": "#/definitions/ClientError"
          },
          "default": {
            "description": "An unexpected client error.",
            "$ref": "#/definitions/ClientError"
          }
        }
      },
      "delete": {
        "operationId": "delete_files_id",
        "summary": "Delete file",
        "tags": ["Files"],
        "description": "Deletes a file, either permanently or by moving it to\nthe trash.\n\nThe the enterprise settings determine whether the item will\nbe permanently deleted from Box or moved to the trash.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The unique identifier that represent a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "if-match",
            "description": "Ensures this item hasn't recently changed before\nmaking changes.\n\nPass in the item's last observed `etag` value\ninto this header and the endpoint will fail\nwith a `412 Precondition Failed` if it\nhas changed since.",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty response when the file has been successfully\ndeleted."
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "$ref": "#/definitions/ClientError"
          },
          "404": {
            "description": "Returned if the file is not found or has already been deleted, or the user\ndoes not have access to the file.",
            "$ref": "#/definitions/ClientError"
          },
          "405": {
            "description": "Returned if the `file_id` is not in a recognized format.",
            "$ref": "#/definitions/ClientError"
          },
          "412": {
            "description": "Returns an error when the `If-Match` header does not match\nthe current `etag` value of the file. This indicates that the file\nhas changed since it was last requested.",
            "$ref": "#/definitions/ClientError"
          },
          "default": {
            "description": "An unexpected client error.",
            "$ref": "#/definitions/ClientError"
          }
        }
      }
    },
    "/files/{file_id}/content": {
      "get": {
        "operationId": "get_files_id_content",
        "summary": "Download file",
        "tags": ["Downloads"],
        "description": "Returns the contents of a file in binary format.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The unique identifier that represent a file.\n\nThe ID for any file can be determined\nby visiting a file in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/files/123`\nthe `file_id` is `123`.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "range",
            "description": "The byte range of the content to download.\n\nThe format `{start_byte}-{end_byte}` can be used to specify\nwhat section of the file to download.",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "boxapi",
            "description": "The URL, and optional password, for the shared link of this item.\n\nThis header can be used to access items that have not been\nexplicitly shared with a user.\n\nUse the format `shared_link=[link]` or if a password is required then\nuse `shared_link=[link]&shared_link_password=[password]`.\n\nThis header can be used on the file or folder shared, as well as on any files\nor folders nested within the item.",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "version",
            "description": "The file version to download",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "access_token",
            "description": "An optional access token that can be used to pre-authenticate this request, which means that a download link can be shared with a browser or a third party service without them needing to know how to handle the authentication.\nWhen using this parameter, please make sure that the access token is sufficiently scoped down to only allow read access to that file and no other files or folders.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "If the file is not ready to be downloaded yet `Retry-After` header will\nbe returned indicating the time in seconds after which the file will\nbe available for the client to download.\n\nThis response can occur when the file was uploaded immediately before the\ndownload request.",
            "headers": {
              "Retry-After": {
                "description": "The time in seconds after which to retry the download",
                "type": "integer"
              }
            }
          },
          "302": {
            "description": "If the file is available to be downloaded the response will include a\n`Location` header for the file on `dl.boxcloud.com`.\n\nThe `dl.boxcloud.com` URL is not persistent and clients will need\nto follow the redirect in order to actually download the file.",
            "headers": {
              "Location": {
                "description": "A pointer to the download URL",
                "type": "string",
                "format": "url"
              }
            }
          },
          "default": {
            "description": "An unexpected client error.",
            "$ref": "#/definitions/ClientError"
          }
        }
      }
    },
    "/file_requests/{file_request_id}/copy": {
      "post": {
        "operationId": "post_file_requests_id_copy",
        "summary": "Copy file request",
        "tags": ["File requests"],
        "description": "Copies an existing file request that is already present on one folder,\nand applies it to another folder.",
        "parameters": [
          {
            "name": "file_request_id",
            "description": "The unique identifier that represent a file request.\n\nThe ID for any file request can be determined\nby visiting a file request builder in the web application\nand copying the ID from the URL. For example,\nfor the URL `https://*.app.box.com/filerequest/123`\nthe `file_request_id` is `123`.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "$ref": "#/definitions/FileRequestCopyRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns updated file request object.",
            "$ref": "#/definitions/FileRequest"
          },
          "401": {
            "description": "Returned when the access token provided in the `Authorization` header\nis not recognized or not provided.",
            "$ref": "#/definitions/ClientError"
          },
          "403": {
            "description": "Returned if the user does not have all the permissions to complete the\nupdate.\n\n* `access_denied_insufficient_permissions` when the authenticated user\ndoes not have access to update the file request.",
            "$ref": "#/definitions/ClientError"
          },
          "404": {
            "description": "Returned if the file request is not found, or the user does not\nhave access to the associated folder.",
            "$ref": "#/definitions/ClientError"
          },
          "405": {
            "description": "Returned if the `file_request_id` is not in a recognized format.",
            "$ref": "#/definitions/ClientError"
          },
          "default": {
            "description": "An unexpected client error.",
            "$ref": "#/definitions/ClientError"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "OAuth2Security": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://account.box.com/api/oauth2/authorize",
      "tokenUrl": "https://api.box.com/oauth2/token",
      "scopes": {
        "root_readonly": "Read all files and folders stored in Box",
        "root_readwrite": "Read and write all files and folders stored in Box",
        "manage_app_users": "Provision and manage app users",
        "manage_managed_users": "Provision and manage managed users",
        "manage_groups": "Manage an enterprise's groups",
        "manage_webhook": "Create webhooks programmatically through the API",
        "manage_enterprise_properties": "Manage enterprise properties",
        "manage_data_retention": "Manage data retention polices",
        "manage_legal_hold": "Manage Legal Holds"
      }
    }
  },
  "security": [
    {
      "OAuth2Security": []
    }
  ],
  "definitions": {
    "File": {
      "title": "File",
      "type": "object",
      "x-box-variant": "standard",
      "description": "A standard representation of a file, as returned from any\nfile API endpoints by default",
      "allOf": [
        {
          "$ref": "#/definitions/File--Mini"
        },
        {
          "properties": {
            "description": {
              "type": "string",
              "description": "The optional description of this file",
              "maxLength": 256
            },
            "size": {
              "type": "integer",
              "description": "The file size in bytes. Be careful parsing this integer as it can\nget very large and cause an integer overflow."
            },
            "path_collection": {
              "allOf": [
                {
                  "title": "Path collection",
                  "description": "A list of parent folders for an item.",
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "description": "The number of folders in this list.",
                      "type": "integer",
                      "format": "int64"
                    },
                    "entries": {
                      "type": "array",
                      "description": "The parent folders for this item",
                      "items": {
                        "$ref": "#/definitions/Folder--Mini"
                      }
                    }
                  }
                },
                {
                  "description": "The tree of folders that this file is contained in,\nstarting at the root."
                },
                {}
              ]
            },
            "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time when the file was created on Box."
            },
            "modified_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time when the file was last updated on Box."
            },
            "trashed_at": {
              "type": "string",
              "format": "date-time",
              "description": "The time at which this file was put in the trash."
            },
            "purged_at": {
              "type": "string",
              "format": "date-time",
              "description": "The time at which this file is expected to be purged\nfrom the trash."
            },
            "content_created_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time at which this file was originally\ncreated, which might be before it was uploaded to Box."
            },
            "content_modified_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time at which this file was last updated,\nwhich might be before it was uploaded to Box."
            },
            "created_by": {
              "allOf": [
                {
                  "$ref": "#/definitions/User--Mini"
                },
                {
                  "description": "The user who created this file"
                }
              ]
            },
            "modified_by": {
              "allOf": [
                {
                  "$ref": "#/definitions/User--Mini"
                },
                {
                  "description": "The user who last modified this file"
                },
                {}
              ]
            },
            "owned_by": {
              "allOf": [
                {
                  "$ref": "#/definitions/User--Mini"
                },
                {
                  "description": "The user who owns this file"
                },
                {}
              ]
            },
            "shared_link": {
              "allOf": [
                {
                  "title": "Shared link",
                  "description": "Shared links provide direct, read-only access to files or folder on Box.\n\nShared links with open access level allow anyone with the URL\nto access the item, while shared links with company or collaborators access\nlevels can only be accessed by appropriately authenticated Box users.",
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "url",
                      "description": "The URL that can be used to access the item on Box.\n\nThis URL will display the item in Box's preview UI where the file\ncan be downloaded if allowed.\n\nThis URL will continue to work even when a custom `vanity_url`\nhas been set for this shared link."
                    },
                    "download_url": {
                      "type": "string",
                      "format": "url",
                      "x-box-premium-feature": true,
                      "description": "A URL that can be used to download the file. This URL can be used in\na browser to download the file. This URL includes the file\nextension so that the file will be saved with the right file type.\n\nThis property will be `null` for folders."
                    },
                    "vanity_url": {
                      "type": "string",
                      "format": "url",
                      "description": "The \"Custom URL\" that can also be used to preview the item on Box.  Custom\nURLs can only be created or modified in the Box Web application."
                    },
                    "vanity_name": {
                      "type": "string",
                      "description": "The custom name of a shared link, as used in the `vanity_url` field."
                    },
                    "access": {
                      "type": "string",
                      "description": "The access level for this shared link.\n\n* `open` - provides access to this item to anyone with this link\n* `company` - only provides access to this item to people the same company\n* `collaborators` - only provides access to this item to people who are\n   collaborators on this item\n\nIf this field is omitted when creating the shared link, the access level\nwill be set to the default access level specified by the enterprise admin.",
                      "enum": ["open", "company", "collaborators"]
                    },
                    "effective_access": {
                      "type": "string",
                      "description": "The effective access level for the shared link. This can be a more\nrestrictive access level than the value in the `access` field when the\nenterprise settings restrict the allowed access levels.",
                      "enum": ["open", "company", "collaborators"]
                    },
                    "effective_permission": {
                      "type": "string",
                      "description": "The effective permissions for this shared link.",
                      "enum": ["can_download", "can_preview"]
                    },
                    "unshared_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date and time when this link will be unshared. This field can only be\nset by users with paid accounts."
                    },
                    "is_password_enabled": {
                      "type": "boolean",
                      "description": "Defines if the shared link requires a password to access the item."
                    },
                    "permissions": {
                      "type": "object",
                      "description": "Defines if this link allows a user to preview and download an item.",
                      "properties": {
                        "can_download": {
                          "type": "boolean",
                          "description": "Defines if the shared link allows for the item to be downloaded. For\nshared links on folders, this also applies to any items in the folder.\n\nThis value can be set to `true` when the effective access level is\nset to `open` or `company`, not `collaborators`."
                        },
                        "can_preview": {
                          "type": "boolean",
                          "description": "Defines if the shared link allows for the item to be previewed.\n\nThis value is always `true`. For shared links on folders this also\napplies to any items in the folder."
                        }
                      }
                    },
                    "download_count": {
                      "type": "integer",
                      "description": "The number of times this item has been downloaded."
                    },
                    "preview_count": {
                      "type": "integer",
                      "description": "The number of times this item has been previewed."
                    }
                  }
                },
                {
                  "description": "The shared link for this file. This will be\n`null` if no shared link has been created for this\nfile."
                },
                {}
              ]
            },
            "parent": {
              "allOf": [
                {
                  "$ref": "#/definitions/Folder--Mini"
                },
                {
                  "description": "The folder that this file is located within."
                }
              ]
            },
            "item_status": {
              "type": "string",
              "description": "Defines if this item has been deleted or not.\n\n* `active` when the item has is not in the trash\n* `trashed` when the item has been moved to the trash but not deleted\n* `deleted` when the item has been permanently deleted.",
              "enum": ["active", "trashed", "deleted"]
            }
          }
        }
      ]
    },
    "ClientError": {
      "title": "Client error",
      "type": "object",
      "description": "A generic error",
      "properties": {
        "type": {
          "description": "`error`",
          "type": "string",
          "enum": ["error"]
        },
        "status": {
          "description": "The HTTP status of the response.",
          "type": "integer",
          "format": "int32"
        },
        "code": {
          "description": "A Box-specific error code",
          "type": "string",
          "enum": [
            "created",
            "accepted",
            "no_content",
            "redirect",
            "not_modified",
            "bad_request",
            "unauthorized",
            "forbidden",
            "not_found",
            "method_not_allowed",
            "conflict",
            "precondition_failed",
            "too_many_requests",
            "internal_server_error",
            "unavailable",
            "item_name_invalid",
            "insufficient_scope"
          ]
        },
        "message": {
          "description": "A short message describing the error.",
          "type": "string"
        },
        "context_info": {
          "description": "A free-form object that contains additional context\nabout the error. The possible fields are defined on\na per-endpoint basis.",
          "type": "object"
        },
        "help_url": {
          "description": "A URL that links to more information about why this error occurred.",
          "type": "string"
        },
        "request_id": {
          "description": "A unique identifier for this response, which can be used\nwhen contacting Box support.",
          "type": "string"
        }
      }
    },
    "UploadUrl": {
      "title": "Upload URL",
      "type": "object",
      "description": "The details for the upload session for the file.",
      "properties": {
        "upload_url": {
          "type": "string",
          "description": "A URL for an upload session that can be used to upload\nthe file."
        },
        "upload_token": {
          "type": "string",
          "description": "An optional access token to use to upload the file"
        }
      }
    },
    "ConflictError": {
      "title": "Conflict error",
      "type": "object",
      "description": "The error that occurs when a file can not be created due\nto a conflict.",
      "allOf": [
        {
          "$ref": "#/definitions/ClientError"
        },
        {
          "properties": {
            "context_info": {
              "type": "object",
              "properties": {
                "conflicts": {
                  "type": "array",
                  "description": "A list of the file conflicts that caused this error.",
                  "items": {
                    "$ref": "#/definitions/FileConflict"
                  }
                }
              }
            }
          }
        }
      ]
    },
    "Collaborations": {
      "title": "Collaborations",
      "type": "object",
      "description": "A list of collaborations",
      "allOf": [
        {
          "type": "object",
          "description": "The part of an API response that describes pagination",
          "properties": {
            "total_count": {
              "description": "One greater than the offset of the last entry in the entire collection.\nThe total number of entries in the collection may be less than\n`total_count`.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
              "type": "integer",
              "format": "int64"
            },
            "limit": {
              "description": "The limit that was used for these entries. This will be the same as the\n`limit` query parameter unless that value exceeded the maximum value\nallowed. The maximum value varies by API.",
              "type": "integer",
              "format": "int64"
            },
            "offset": {
              "description": "The 0-based offset of the first entry in this set. This will be the same\nas the `offset` query parameter.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
              "type": "integer",
              "format": "int64"
            },
            "order": {
              "description": "The order by which items are returned.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
              "type": "array",
              "items": {
                "type": "object",
                "description": "The order in which a pagination is ordered",
                "properties": {
                  "by": {
                    "description": "The field to order by",
                    "type": "string"
                  },
                  "direction": {
                    "type": "string",
                    "description": "The direction to order by, either ascending or descending",
                    "enum": ["ASC", "DESC"]
                  }
                }
              }
            }
          }
        },
        {
          "properties": {
            "entries": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Collaboration"
              }
            }
          }
        }
      ]
    },
    "Comments": {
      "title": "Comments",
      "type": "object",
      "description": "A list of comments",
      "allOf": [
        {
          "type": "object",
          "description": "The part of an API response that describes pagination",
          "properties": {
            "total_count": {
              "description": "One greater than the offset of the last entry in the entire collection.\nThe total number of entries in the collection may be less than\n`total_count`.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
              "type": "integer",
              "format": "int64"
            },
            "limit": {
              "description": "The limit that was used for these entries. This will be the same as the\n`limit` query parameter unless that value exceeded the maximum value\nallowed. The maximum value varies by API.",
              "type": "integer",
              "format": "int64"
            },
            "offset": {
              "description": "The 0-based offset of the first entry in this set. This will be the same\nas the `offset` query parameter.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
              "type": "integer",
              "format": "int64"
            },
            "order": {
              "description": "The order by which items are returned.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
              "type": "array",
              "items": {
                "type": "object",
                "description": "The order in which a pagination is ordered",
                "properties": {
                  "by": {
                    "description": "The field to order by",
                    "type": "string"
                  },
                  "direction": {
                    "type": "string",
                    "description": "The direction to order by, either ascending or descending",
                    "enum": ["ASC", "DESC"]
                  }
                }
              }
            }
          }
        },
        {
          "properties": {
            "entries": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Comment"
              }
            }
          }
        }
      ]
    },
    "Tasks": {
      "title": "Tasks",
      "type": "object",
      "description": "A list of tasks",
      "properties": {
        "total_count": {
          "description": "One greater than the offset of the last entry in the entire collection.\nThe total number of entries in the collection may be less than\n`total_count`.",
          "type": "integer",
          "format": "int64"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Task"
          }
        }
      }
    },
    "FileVersions": {
      "title": "File versions",
      "type": "object",
      "description": "A list of file versions",
      "allOf": [
        {
          "type": "object",
          "description": "The part of an API response that describes pagination",
          "properties": {
            "total_count": {
              "description": "One greater than the offset of the last entry in the entire collection.\nThe total number of entries in the collection may be less than\n`total_count`.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
              "type": "integer",
              "format": "int64"
            },
            "limit": {
              "description": "The limit that was used for these entries. This will be the same as the\n`limit` query parameter unless that value exceeded the maximum value\nallowed. The maximum value varies by API.",
              "type": "integer",
              "format": "int64"
            },
            "offset": {
              "description": "The 0-based offset of the first entry in this set. This will be the same\nas the `offset` query parameter.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
              "type": "integer",
              "format": "int64"
            },
            "order": {
              "description": "The order by which items are returned.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
              "type": "array",
              "items": {
                "type": "object",
                "description": "The order in which a pagination is ordered",
                "properties": {
                  "by": {
                    "description": "The field to order by",
                    "type": "string"
                  },
                  "direction": {
                    "type": "string",
                    "description": "The direction to order by, either ascending or descending",
                    "enum": ["ASC", "DESC"]
                  }
                }
              }
            }
          }
        },
        {
          "properties": {
            "entries": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FileVersion"
              }
            }
          }
        }
      ]
    },
    "FileVersion": {
      "title": "File version",
      "type": "object",
      "x-box-variant": "standard",
      "description": "A standard representation of a file version",
      "allOf": [
        {
          "$ref": "#/definitions/FileVersion--Mini"
        },
        {
          "properties": {
            "name": {
              "type": "string",
              "description": "The name of the file version"
            },
            "size": {
              "type": "integer",
              "format": "int64",
              "description": "Size of the file version in bytes"
            },
            "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "When the file version object was created"
            },
            "modified_at": {
              "type": "string",
              "format": "date-time",
              "description": "When the file version object was last updated"
            },
            "modified_by": {
              "allOf": [
                {
                  "$ref": "#/definitions/User--Mini"
                },
                {
                  "description": "The user who last updated the file version"
                }
              ]
            },
            "trashed_at": {
              "type": "string",
              "description": "When the file version object was trashed.",
              "format": "date-time"
            },
            "trashed_by": {
              "allOf": [
                {
                  "$ref": "#/definitions/User--Mini"
                },
                {
                  "description": "The user who trashed the file version"
                }
              ]
            },
            "restored_at": {
              "type": "string",
              "description": "When the file version was restored from the trash.",
              "format": "date-time"
            },
            "restored_by": {
              "allOf": [
                {
                  "$ref": "#/definitions/User--Mini"
                },
                {
                  "description": "The user who restored the file version from the trash."
                }
              ]
            },
            "purged_at": {
              "type": "string",
              "description": "When the file version object will be permanently deleted.",
              "format": "date-time"
            },
            "uploader_display_name": {
              "allOf": [
                {
                  "title": "Uploader display name",
                  "type": "string",
                  "description": "The display name of the user that uploaded the file. In most cases this is the\nname of the user logged in at the time of the upload.\n\nIf the file was uploaded using a File Request form that requires the user to\nprovide an email address, this field is populated with that email address. If\nan email address was not required in the File Request form, this field is set\nto return a value of `File Request`.\n\nIn all other anonymous cases where no email was provided this field\nwill default to a value of `Someone`."
                }
              ]
            }
          }
        }
      ]
    },
    "Metadatas": {
      "title": "Metadata instances",
      "type": "object",
      "description": "A list of metadata instances that have been applied to a file or folder.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "A list of metadata instances, as applied to this file or folder.",
          "items": {
            "$ref": "#/definitions/Metadata"
          }
        },
        "limit": {
          "description": "The limit that was used for this page of results.",
          "type": "integer"
        }
      }
    },
    "Classification": {
      "title": "Classification",
      "type": "object",
      "description": "An instance of the classification metadata template, containing\nthe classification applied to the file or folder.\n\nTo get more details about the classification applied to an item,\nrequest the classification metadata template.",
      "properties": {
        "Box__Security__Classification__Key": {
          "type": "string",
          "description": "The name of the classification applied to the item."
        },
        "$parent": {
          "type": "string",
          "description": "The identifier of the item that this metadata instance\nhas been attached to. This combines the `type` and the `id`\nof the parent in the form `{type}_{id}`."
        },
        "$template": {
          "type": "string",
          "description": "`securityClassification-6VMVochwUWo`",
          "enum": ["securityClassification-6VMVochwUWo"]
        },
        "$scope": {
          "type": "string",
          "description": "The scope of the enterprise that this classification has been\napplied for.\n\nThis will be in the format `enterprise_{enterprise_id}`."
        },
        "$version": {
          "type": "integer",
          "description": "The version of the metadata instance. This version starts at 0 and\nincreases every time a classification is updated."
        },
        "$type": {
          "type": "string",
          "description": "The unique ID of this classification instance. This will be include\nthe name of the classification template and a unique ID."
        },
        "$typeVersion": {
          "type": "number",
          "description": "The version of the metadata template. This version starts at 0 and\nincreases every time the template is updated. This is mostly for internal\nuse."
        },
        "$canEdit": {
          "type": "boolean",
          "description": "Whether an end user can change the classification."
        }
      }
    },
    "Metadata": {
      "title": "Metadata instance",
      "type": "object",
      "x-box-variant": "standard",
      "description": "An instance of a metadata template, which has been applied to a file or\nfolder.",
      "allOf": [
        {
          "$ref": "#/definitions/Metadata--Base"
        }
      ]
    },
    "SkillCardsMetadata": {
      "title": "Skills metadata instance",
      "type": "object",
      "description": "The metadata assigned to a using for Box skills.",
      "properties": {
        "$canEdit": {
          "type": "boolean",
          "description": "Whether the user can edit this metadata"
        },
        "$id": {
          "type": "string",
          "format": "uuid",
          "maxLength": 36,
          "description": "A UUID to identify the metadata object"
        },
        "$parent": {
          "type": "string",
          "description": "An ID for the parent folder"
        },
        "$scope": {
          "type": "string",
          "description": "An ID for the scope in which this template\nhas been applied"
        },
        "$template": {
          "type": "string",
          "description": "The name of the template"
        },
        "$type": {
          "type": "string",
          "description": "A unique identifier for the \"type\" of this instance. This is an internal\nsystem property and should not be used by a client application."
        },
        "$typeVersion": {
          "type": "integer",
          "description": "The last-known version of the template of the object. This is an internal\nsystem property and should not be used by a client application."
        },
        "$version": {
          "type": "integer",
          "description": "The version of the metadata object. Starts at 0 and increases every time\na user-defined property is modified."
        },
        "cards": {
          "type": "array",
          "description": "A list of Box Skill cards that have been applied to this file.",
          "items": {
            "$ref": "#/definitions/SkillCard"
          }
        }
      }
    },
    "SkillCard": {
      "type": "object",
      "title": "Skill Card",
      "description": "A generic Box Skill metadata card.",
      "required": ["type", "skill_card_type", "skill", "invocation"],
      "properties": {
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The optional date and time this card was created at."
        },
        "type": {
          "type": "string",
          "description": "`skill_card`",
          "enum": ["skill_card"]
        },
        "skill_card_type": {
          "type": "string",
          "description": "The type of card to add to the file.",
          "enum": ["transcript", "keyword", "timeline", "status"]
        },
        "skill_card_title": {
          "type": "object",
          "description": "The title of the card.",
          "required": ["message"],
          "properties": {
            "code": {
              "type": "string",
              "description": "An optional identifier for the title."
            },
            "message": {
              "type": "string",
              "description": "The actual title to show in the UI."
            }
          }
        },
        "status": {
          "type": "object",
          "description": "Used with a card of type `status` to set the status of the skill. This can be used to show a message to the user while the Skill is processing the data.",
          "required": ["code"],
          "properties": {
            "code": {
              "type": "string",
              "description": "A code for the status of this Skill invocation. By\ndefault each of these will have their own accompanied\nmessages. These can be adjusted by setting the `message`\nvalue on this object.",
              "enum": [
                "invoked",
                "processing",
                "success",
                "transient_failure",
                "permanent_failure"
              ]
            },
            "message": {
              "type": "string",
              "description": "A custom message that can be provided with this status.\nThis will be shown in the web app to the end user."
            }
          }
        },
        "skill": {
          "type": "object",
          "description": "The service that applied this metadata.",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "description": "`service`",
              "enum": ["service"]
            },
            "id": {
              "type": "string",
              "description": "A custom identifier that represent the service that\napplied this metadata."
            }
          }
        },
        "invocation": {
          "type": "object",
          "description": "The invocation of this service, used to track\nwhich instance of a service applied the metadata.",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "description": "`skill_invocation`",
              "enum": ["skill_invocation"]
            },
            "id": {
              "type": "string",
              "description": "A custom identifier that represent the instance of\nthe service that applied this metadata. For example,\nif your `image-recognition-service` runs on multiple\nnodes, this field can be used to identify the ID of\nthe node that was used to apply the metadata."
            }
          }
        },
        "duration": {
          "type": "integer",
          "description": "An optional total duration in seconds.\n\nUsed with a `skill_card_type` of `transcript` or\n`timeline`."
        },
        "entries": {
          "type": "array",
          "description": "An optional list of entries in the metadata card.\n\nThis field is used with a `skill_card_type` of\n`transcript`, `keyword` or `timeline`.",
          "items": {
            "type": "object",
            "description": "An entry in the `entries` attribute of a metadata card",
            "properties": {
              "text": {
                "type": "string",
                "description": "The text of the entry. This would be the actual\nkeyword in a `keyword` card, the line of a\ntranscript in a `transcript` card, or the display\nname for an item when using the `timeline` entry."
              },
              "appears": {
                "type": "array",
                "description": "Defines a list of timestamps for an entry. This is\nused with a `skill_card_type` of `transcript` as\nwell as `timeline` to place items on a timeline.\n\nFor a `skill_card_type` of `transcript` there can\nonly be one entry in this list for each item, and\nonly the `start` time is used to place the\ntranscript on the timeline.",
                "required": ["start", "end"],
                "items": {
                  "type": "object",
                  "description": "The timestamp for an entry.",
                  "properties": {
                    "start": {
                      "type": "integer",
                      "description": "The time in seconds when an\nentry should start appearing on a timeline."
                    },
                    "end": {
                      "type": "integer",
                      "description": "The time in seconds when an\nentry should stop appearing on a timeline. For\na `skill_card_type` of `transcript` this value\nis ignored."
                    }
                  }
                }
              },
              "image_url": {
                "type": "string",
                "description": "The image to show on a for an entry that appears\non a timeline. This image URL is required for any\n`timeline` cards. The image will be shown in a\nlist of items (for example faces), and clicking\nthe image will show the user where that entry\nappears during the duration of this entry."
              }
            }
          }
        }
      }
    },
    "KeywordSkillCard": {
      "type": "object",
      "title": "Keyword Skill Card",
      "description": "A skill card that contains a set of keywords",
      "required": ["type", "skill_card_type", "skill", "invocation", "entries"],
      "properties": {
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The optional date and time this card was created at."
        },
        "type": {
          "type": "string",
          "description": "`skill_card`",
          "enum": ["skill_card"]
        },
        "skill_card_type": {
          "type": "string",
          "description": "`keyword`",
          "enum": ["keyword"]
        },
        "skill_card_title": {
          "type": "object",
          "description": "The title of the card.",
          "required": ["message"],
          "properties": {
            "code": {
              "type": "string",
              "description": "An optional identifier for the title."
            },
            "message": {
              "type": "string",
              "description": "The actual title to show in the UI."
            }
          }
        },
        "skill": {
          "type": "object",
          "description": "The service that applied this metadata.",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "description": "`service`",
              "enum": ["service"]
            },
            "id": {
              "type": "string",
              "description": "A custom identifier that represent the service that\napplied this metadata."
            }
          }
        },
        "invocation": {
          "type": "object",
          "description": "The invocation of this service, used to track\nwhich instance of a service applied the metadata.",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "description": "`skill_invocation`",
              "enum": ["skill_invocation"]
            },
            "id": {
              "type": "string",
              "description": "A custom identifier that represent the instance of\nthe service that applied this metadata. For example,\nif your `image-recognition-service` runs on multiple\nnodes, this field can be used to identify the ID of\nthe node that was used to apply the metadata."
            }
          }
        },
        "entries": {
          "type": "array",
          "description": "An list of entries in the metadata card.",
          "items": {
            "type": "object",
            "description": "An entry in the `entries` attribute of a metadata card",
            "properties": {
              "text": {
                "type": "string",
                "description": "The text of the keyword."
              }
            }
          }
        }
      }
    },
    "TimelineSkillCard": {
      "type": "object",
      "title": "Timeline Skill Card",
      "description": "A Box Skill metadata card that places a list of images on a\ntimeline.",
      "required": ["type", "skill_card_type", "skill", "invocation", "entries"],
      "properties": {
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The optional date and time this card was created at."
        },
        "type": {
          "type": "string",
          "description": "`skill_card`",
          "enum": ["skill_card"]
        },
        "skill_card_type": {
          "type": "string",
          "description": "`timeline`",
          "enum": ["timeline"]
        },
        "skill_card_title": {
          "type": "object",
          "description": "The title of the card.",
          "required": ["message"],
          "properties": {
            "code": {
              "type": "string",
              "description": "An optional identifier for the title."
            },
            "message": {
              "type": "string",
              "description": "The actual title to show in the UI."
            }
          }
        },
        "skill": {
          "type": "object",
          "description": "The service that applied this metadata.",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "description": "`service`",
              "enum": ["service"]
            },
            "id": {
              "type": "string",
              "description": "A custom identifier that represent the service that\napplied this metadata."
            }
          }
        },
        "invocation": {
          "type": "object",
          "description": "The invocation of this service, used to track\nwhich instance of a service applied the metadata.",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "description": "`skill_invocation`",
              "enum": ["skill_invocation"]
            },
            "id": {
              "type": "string",
              "description": "A custom identifier that represent the instance of\nthe service that applied this metadata. For example,\nif your `image-recognition-service` runs on multiple\nnodes, this field can be used to identify the ID of\nthe node that was used to apply the metadata."
            }
          }
        },
        "duration": {
          "type": "integer",
          "description": "An total duration in seconds of the timeline."
        },
        "entries": {
          "type": "array",
          "description": "A list of entries on the timeline.",
          "items": {
            "type": "object",
            "description": "An single item that's placed on multiple items on the timeline.",
            "properties": {
              "text": {
                "type": "string",
                "description": "The text of the entry. This would be the display\nname for an item being placed on the timeline, for example the name\nof the person who was detected in a video."
              },
              "appears": {
                "type": "array",
                "description": "Defines a list of timestamps for when this item should appear on the\ntimeline.",
                "required": ["start", "end"],
                "items": {
                  "type": "object",
                  "description": "The timestamp for an entry.",
                  "properties": {
                    "start": {
                      "type": "integer",
                      "description": "The time in seconds when an\nentry should start appearing on a timeline."
                    },
                    "end": {
                      "type": "integer",
                      "description": "The time in seconds when an\nentry should stop appearing on a timeline."
                    }
                  }
                }
              },
              "image_url": {
                "type": "string",
                "description": "The image to show on a for an entry that appears\non a timeline. This image URL is required for every entry.\n\nThe image will be shown in a\nlist of items (for example faces), and clicking\nthe image will show the user where that entry\nappears during the duration of this entry."
              }
            }
          }
        }
      }
    },
    "TranscriptSkillCard": {
      "type": "object",
      "title": "Transcript Skill Card",
      "description": "A Box Skill metadata card that adds a transcript to a file.",
      "required": ["type", "skill_card_type", "skill", "invocation", "entries"],
      "properties": {
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The optional date and time this card was created at."
        },
        "type": {
          "type": "string",
          "description": "`skill_card`",
          "enum": ["skill_card"]
        },
        "skill_card_type": {
          "type": "string",
          "description": "`transcript`",
          "enum": ["transcript"]
        },
        "skill_card_title": {
          "type": "object",
          "description": "The title of the card.",
          "required": ["message"],
          "properties": {
            "code": {
              "type": "string",
              "description": "An optional identifier for the title."
            },
            "message": {
              "type": "string",
              "description": "The actual title to show in the UI."
            }
          }
        },
        "skill": {
          "type": "object",
          "description": "The service that applied this metadata.",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "description": "`service`",
              "enum": ["service"]
            },
            "id": {
              "type": "string",
              "description": "A custom identifier that represent the service that\napplied this metadata."
            }
          }
        },
        "invocation": {
          "type": "object",
          "description": "The invocation of this service, used to track\nwhich instance of a service applied the metadata.",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "description": "`skill_invocation`",
              "enum": ["skill_invocation"]
            },
            "id": {
              "type": "string",
              "description": "A custom identifier that represent the instance of\nthe service that applied this metadata. For example,\nif your `image-recognition-service` runs on multiple\nnodes, this field can be used to identify the ID of\nthe node that was used to apply the metadata."
            }
          }
        },
        "duration": {
          "type": "integer",
          "description": "An optional total duration in seconds.\n\nUsed with a `skill_card_type` of `transcript` or\n`timeline`."
        },
        "entries": {
          "type": "array",
          "description": "An list of entries for the card. This represents the individual entries of\nthe transcription.",
          "items": {
            "type": "object",
            "description": "An entry in the `entries` attribute of a metadata card",
            "properties": {
              "text": {
                "type": "string",
                "description": "The text of the entry. This would be the transcribed text assigned\nto the entry on the timeline."
              },
              "appears": {
                "type": "array",
                "description": "Defines when a transcribed bit of text appears. This only includes a\nstart time and no end time.",
                "required": ["start"],
                "items": {
                  "type": "object",
                  "description": "The timestamp for an entry.",
                  "properties": {
                    "start": {
                      "type": "integer",
                      "description": "The time in seconds when an\nentry should start appearing on a timeline."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "StatusSkillCard": {
      "type": "object",
      "title": "Status Skill Card",
      "description": "A Box Skill metadata card that puts a status message in the metadata sidebar.",
      "required": ["type", "skill_card_type", "skill", "invocation", "status"],
      "properties": {
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The optional date and time this card was created at."
        },
        "type": {
          "type": "string",
          "description": "`skill_card`",
          "enum": ["skill_card"]
        },
        "skill_card_type": {
          "type": "string",
          "description": "`status`",
          "enum": ["status"]
        },
        "skill_card_title": {
          "type": "object",
          "description": "The title of the card.",
          "required": ["message"],
          "properties": {
            "code": {
              "type": "string",
              "description": "An optional identifier for the title."
            },
            "message": {
              "type": "string",
              "description": "The actual title to show in the UI."
            }
          }
        },
        "status": {
          "type": "object",
          "description": "Sets the status of the skill. This can be used to show a message to the user while the Skill is processing the data, or if it was not able to process the file.",
          "required": ["code"],
          "properties": {
            "code": {
              "type": "string",
              "description": "A code for the status of this Skill invocation. By\ndefault each of these will have their own accompanied\nmessages. These can be adjusted by setting the `message`\nvalue on this object.",
              "enum": [
                "invoked",
                "processing",
                "success",
                "transient_failure",
                "permanent_failure"
              ]
            },
            "message": {
              "type": "string",
              "description": "A custom message that can be provided with this status.\nThis will be shown in the web app to the end user."
            }
          }
        },
        "skill": {
          "type": "object",
          "description": "The service that applied this metadata.",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "description": "`service`",
              "enum": ["service"]
            },
            "id": {
              "type": "string",
              "description": "A custom identifier that represent the service that\napplied this metadata."
            }
          }
        },
        "invocation": {
          "type": "object",
          "description": "The invocation of this service, used to track\nwhich instance of a service applied the metadata.",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "description": "`skill_invocation`",
              "enum": ["skill_invocation"]
            },
            "id": {
              "type": "string",
              "description": "A custom identifier that represent the instance of\nthe service that applied this metadata. For example,\nif your `image-recognition-service` runs on multiple\nnodes, this field can be used to identify the ID of\nthe node that was used to apply the metadata."
            }
          }
        }
      }
    },
    "Watermark": {
      "title": "Watermark",
      "type": "object",
      "description": "A watermark is a semi-transparent overlay on an embedded file\npreview that displays a viewer's email address or user ID\nand the time of access over a file's content",
      "properties": {
        "watermark": {
          "type": "object",
          "properties": {
            "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "When this watermark was created"
            },
            "modified_at": {
              "type": "string",
              "format": "date-time",
              "description": "When this task was modified"
            }
          }
        }
      }
    },
    "FileRequest": {
      "title": "File Request",
      "type": "object",
      "description": "A standard representation of a file request, as returned\nfrom any file request API endpoints by default.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for this file request.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "`file-request`",
          "enum": ["file-request"],
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "The title of file request. This is shown\nin the Box UI to users uploading files.\n\nThis defaults to title of the file request that was\ncopied to create this file request."
        },
        "description": {
          "type": "string",
          "description": "The optional description of this file request. This is\nshown in the Box UI to users uploading files.\n\nThis defaults to description of the file request that was\ncopied to create this file request."
        },
        "status": {
          "type": "string",
          "description": "The status of the file request. This defaults\nto `active`.\n\nWhen the status is set to `inactive`, the file request\nwill no longer accept new submissions, and any visitor\nto the file request URL will receive a `HTTP 404` status\ncode.\n\nThis defaults to status of file request that was\ncopied to create this file request.",
          "enum": ["active", "inactive"]
        },
        "is_email_required": {
          "type": "boolean",
          "description": "Whether a file request submitter is required to provide\ntheir email address.\n\nWhen this setting is set to true, the Box UI will show\nan email field on the file request form.\n\nThis defaults to setting of file request that was\ncopied to create this file request."
        },
        "is_description_required": {
          "type": "boolean",
          "description": "Whether a file request submitter is required to provide\na description of the files they are submitting.\n\nWhen this setting is set to true, the Box UI will show\na description field on the file request form.\n\nThis defaults to setting of file request that was\ncopied to create this file request."
        },
        "expires_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date after which a file request will no longer accept new\nsubmissions.\n\nAfter this date, the `status` will automatically be set to\n`inactive`."
        },
        "folder": {
          "allOf": [
            {
              "$ref": "#/definitions/Folder--Mini"
            },
            {
              "description": "The folder that this file request is associated with.\n\nFiles submitted through the file request form will be\nuploaded to this folder."
            }
          ]
        },
        "url": {
          "type": "string",
          "description": "The generated URL for this file request. This URL can be shared\nwith users to let them upload files to the associated folder.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "The HTTP `etag` of this file. This can be used in combination with\nthe `If-Match` header when updating a file request. By providing that\nheader, a change will only be performed on the  file request if the `etag`\non the file request still matches the `etag` provided in the `If-Match`\nheader."
        },
        "created_by": {
          "allOf": [
            {
              "$ref": "#/definitions/User--Mini"
            },
            {
              "description": "The user who created this file request."
            }
          ]
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the file request was created."
        },
        "updated_by": {
          "allOf": [
            {
              "$ref": "#/definitions/User--Mini"
            },
            {
              "description": "The user who last modified this file request."
            },
            {}
          ]
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the file request was last updated."
        }
      }
    },
    "FileRequestUpdateRequest": {
      "title": "File Request (Update)",
      "type": "object",
      "description": "The request body to update a file request.",
      "properties": {
        "title": {
          "type": "string",
          "description": "An optional new title for the file request. This can be\nused to change the title of the file request.\n\nThis will default to the value on the existing file request."
        },
        "description": {
          "type": "string",
          "description": "An optional new description for the file request. This can be\nused to change the description of the file request.\n\nThis will default to the value on the existing file request."
        },
        "status": {
          "type": "string",
          "description": "An optional new status of the file request.\n\nWhen the status is set to `inactive`, the file request\nwill no longer accept new submissions, and any visitor\nto the file request URL will receive a `HTTP 404` status\ncode.\n\nThis will default to the value on the existing file request.",
          "enum": ["active", "inactive"]
        },
        "is_email_required": {
          "type": "boolean",
          "description": "Whether a file request submitter is required to provide\ntheir email address.\n\nWhen this setting is set to true, the Box UI will show\nan email field on the file request form.\n\nThis will default to the value on the existing file request."
        },
        "is_description_required": {
          "type": "boolean",
          "description": "Whether a file request submitter is required to provide\na description of the files they are submitting.\n\nWhen this setting is set to true, the Box UI will show\na description field on the file request form.\n\nThis will default to the value on the existing file request."
        },
        "expires_at": {
          "type": "string",
          "format": "date-time",
          "description": "The date after which a file request will no longer accept new\nsubmissions.\n\nAfter this date, the `status` will automatically be set to\n`inactive`.\n\nThis will default to the value on the existing file request."
        }
      }
    },
    "FileRequestCopyRequest": {
      "title": "File Request (Copy)",
      "type": "object",
      "description": "The request body to copy a file request.",
      "required": ["folder"],
      "allOf": [
        {
          "$ref": "#/definitions/FileRequestUpdateRequest"
        },
        {
          "properties": {
            "folder": {
              "type": "object",
              "description": "The folder to associate the new file request to.",
              "required": ["id"],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "`folder`",
                  "enum": ["folder"]
                },
                "id": {
                  "type": "string",
                  "description": "The ID of the folder to associate the new\nfile request to."
                }
              }
            }
          }
        }
      ]
    },
    "Folder": {
      "title": "Folder",
      "type": "object",
      "x-box-variant": "standard",
      "description": "A standard representation of a folder, as returned from any\nfolder API endpoints by default",
      "allOf": [
        {
          "$ref": "#/definitions/Folder--Mini"
        },
        {
          "properties": {
            "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time when the folder was created. This value may\nbe `null` for some folders such as the root folder or the trash\nfolder."
            },
            "modified_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time when the folder was last updated. This value may\nbe `null` for some folders such as the root folder or the trash\nfolder."
            },
            "description": {
              "allOf": [
                {
                  "type": "string",
                  "description": "The optional description of this folder",
                  "maxLength": 256
                },
                {}
              ]
            },
            "size": {
              "type": "integer",
              "format": "int64",
              "description": "The folder size in bytes.\n\nBe careful parsing this integer as its\nvalue can get very large."
            },
            "path_collection": {
              "allOf": [
                {
                  "title": "Path collection",
                  "description": "A list of parent folders for an item.",
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "description": "The number of folders in this list.",
                      "type": "integer",
                      "format": "int64"
                    },
                    "entries": {
                      "type": "array",
                      "description": "The parent folders for this item",
                      "items": {
                        "$ref": "#/definitions/Folder--Mini"
                      }
                    }
                  }
                },
                {
                  "description": "The tree of folders that this folder is contained in,\nstarting at the root."
                },
                {}
              ]
            },
            "created_by": {
              "allOf": [
                {
                  "$ref": "#/definitions/User--Mini"
                },
                {
                  "description": "The user who created this folder"
                },
                {}
              ]
            },
            "modified_by": {
              "allOf": [
                {
                  "$ref": "#/definitions/User--Mini"
                },
                {
                  "description": "The user who last modified this folder."
                },
                {}
              ]
            },
            "trashed_at": {
              "type": "string",
              "format": "date-time",
              "description": "The time at which this folder was put in the trash."
            },
            "purged_at": {
              "type": "string",
              "format": "date-time",
              "description": "The time at which this folder is expected to be purged\nfrom the trash."
            },
            "content_created_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time at which this folder was originally\ncreated."
            },
            "content_modified_at": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time at which this folder was last updated."
            },
            "expires_at": {
              "type": "string",
              "format": "date-time",
              "description": "The time and which the folder will be automatically be deleted."
            },
            "owned_by": {
              "allOf": [
                {
                  "$ref": "#/definitions/User--Mini"
                },
                {
                  "description": "The user who owns this folder."
                },
                {}
              ]
            },
            "shared_link": {
              "allOf": [
                {
                  "title": "Shared link",
                  "description": "Shared links provide direct, read-only access to files or folder on Box.\n\nShared links with open access level allow anyone with the URL\nto access the item, while shared links with company or collaborators access\nlevels can only be accessed by appropriately authenticated Box users.",
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "url",
                      "description": "The URL that can be used to access the item on Box.\n\nThis URL will display the item in Box's preview UI where the file\ncan be downloaded if allowed.\n\nThis URL will continue to work even when a custom `vanity_url`\nhas been set for this shared link."
                    },
                    "download_url": {
                      "type": "string",
                      "format": "url",
                      "x-box-premium-feature": true,
                      "description": "A URL that can be used to download the file. This URL can be used in\na browser to download the file. This URL includes the file\nextension so that the file will be saved with the right file type.\n\nThis property will be `null` for folders."
                    },
                    "vanity_url": {
                      "type": "string",
                      "format": "url",
                      "description": "The \"Custom URL\" that can also be used to preview the item on Box.  Custom\nURLs can only be created or modified in the Box Web application."
                    },
                    "vanity_name": {
                      "type": "string",
                      "description": "The custom name of a shared link, as used in the `vanity_url` field."
                    },
                    "access": {
                      "type": "string",
                      "description": "The access level for this shared link.\n\n* `open` - provides access to this item to anyone with this link\n* `company` - only provides access to this item to people the same company\n* `collaborators` - only provides access to this item to people who are\n   collaborators on this item\n\nIf this field is omitted when creating the shared link, the access level\nwill be set to the default access level specified by the enterprise admin.",
                      "enum": ["open", "company", "collaborators"]
                    },
                    "effective_access": {
                      "type": "string",
                      "description": "The effective access level for the shared link. This can be a more\nrestrictive access level than the value in the `access` field when the\nenterprise settings restrict the allowed access levels.",
                      "enum": ["open", "company", "collaborators"]
                    },
                    "effective_permission": {
                      "type": "string",
                      "description": "The effective permissions for this shared link.",
                      "enum": ["can_download", "can_preview"]
                    },
                    "unshared_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date and time when this link will be unshared. This field can only be\nset by users with paid accounts."
                    },
                    "is_password_enabled": {
                      "type": "boolean",
                      "description": "Defines if the shared link requires a password to access the item."
                    },
                    "permissions": {
                      "type": "object",
                      "description": "Defines if this link allows a user to preview and download an item.",
                      "properties": {
                        "can_download": {
                          "type": "boolean",
                          "description": "Defines if the shared link allows for the item to be downloaded. For\nshared links on folders, this also applies to any items in the folder.\n\nThis value can be set to `true` when the effective access level is\nset to `open` or `company`, not `collaborators`."
                        },
                        "can_preview": {
                          "type": "boolean",
                          "description": "Defines if the shared link allows for the item to be previewed.\n\nThis value is always `true`. For shared links on folders this also\napplies to any items in the folder."
                        }
                      }
                    },
                    "download_count": {
                      "type": "integer",
                      "description": "The number of times this item has been downloaded."
                    },
                    "preview_count": {
                      "type": "integer",
                      "description": "The number of times this item has been previewed."
                    }
                  }
                },
                {
                  "description": "The shared link for this folder. This will be\n`null` if no shared link has been created for this\nfolder."
                }
              ]
            },
            "folder_upload_email": {
              "type": "object",
              "properties": {
                "access": {
                  "type": "string",
                  "enum": ["open", "collaborators"],
                  "description": "When this parameter has been set, users can email files\nto the email address that has been automatically\ncreated for this folder.\n\nTo create an email address, set this property either when\ncreating or updating the folder.\n\nWhen set to `collaborators`, only emails from registered email\naddresses for collaborators will be accepted. This includes\nany email aliases a user might have registered.\n\nWhen set to `open` it will accept emails from any email\naddress."
                },
                "email": {
                  "description": "The optional upload email address for this folder.",
                  "type": "string",
                  "format": "email"
                }
              }
            },
            "parent": {
              "allOf": [
                {
                  "$ref": "#/definitions/Folder--Mini"
                },
                {
                  "description": "The optional folder that this folder is located within.\n\nThis value may be `null` for some folders such as the\nroot folder or the trash folder."
                }
              ]
            },
            "item_status": {
              "type": "string",
              "description": "Defines if this item has been deleted or not.\n\n* `active` when the item has is not in the trash\n* `trashed` when the item has been moved to the trash but not deleted\n* `deleted` when the item has been permanently deleted.",
              "enum": ["active", "trashed", "deleted"]
            },
            "item_collection": {
              "allOf": [
                {
                  "$ref": "#/definitions/Items"
                },
                {
                  "description": "A page of the items that are in the folder.\n\nThis field can only be requested when querying a folder's\ninformation, not when querying a folder's items."
                },
                {}
              ]
            }
          }
        }
      ]
    },
    "Items": {
      "title": "Items",
      "type": "object",
      "description": "A list of files, folders, and web links in\ntheir mini representation.",
      "allOf": [
        {
          "type": "object",
          "description": "The part of an API response that describes pagination",
          "properties": {
            "total_count": {
              "description": "One greater than the offset of the last entry in the entire collection.\nThe total number of entries in the collection may be less than\n`total_count`.\n\nThis field is only returned for calls that use offset-based pagination.\nFor marker-based paginated APIs, this field will be omitted.",
              "type": "integer",
              "format": "int64"
            },
            "limit": {
              "description": "The limit that was used for these entries. This will be the same as the\n`limit` query parameter unless that value exceeded the maximum value\nallowed. The maximum value varies by API.",
              "type": "integer",
              "format": "int64"
            },
            "offset": {
[...]
