{
    "swagger": "2.0",
    "info": {
      "title": "UiPath.WebApi 13.0",
      "description": "Orchestrator API",
      "version": "13.0"
    },
    "host": "cloud.uipath.com",
    "basePath": "/Mohdtjuvhum/MohdDefault/orchestrator_/",
    "schemes": [
      "https"
    ],
    "paths": {
      "/api/Account/Authenticate": {
        "post": {
          "tags": [
            "Account"
          ],
          "summary": "Authenticates the user based on user name and password",
          "description": "Authenticates the user based on user name and password.",
          "operationId": "Account_Authenticate",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "description": "The login parameters.",
              "schema": {
                "$ref": "#/definitions/LoginModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful authentication",
              "schema": {
                "$ref": "#/definitions/AjaxResponse"
              }
            }
          },
          "deprecated": true
        }
      },
      "/api/DirectoryService/GetDirectoryPermissions": {
        "get": {
          "tags": [
            "DirectoryService"
          ],
          "summary": "Gets directory permissions",
          "description": "OAuth required scopes: OR.Users or OR.Users.Read.\n\nRequired permissions: Users.View.",
          "operationId": "DirectoryService_GetDirectoryPermissions",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "username",
              "type": "string"
            },
            {
              "in": "query",
              "name": "domain",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/DirectoryPermissionDto"
                }
              }
            }
          }
        }
      },
      "/api/DirectoryService/GetDomains": {
        "get": {
          "tags": [
            "DirectoryService"
          ],
          "summary": "Gets domains",
          "description": "OAuth required scopes: OR.Users or OR.Users.Read.\n\nRequired permissions: Users.View or Units.Edit or SubFolders.Edit.",
          "operationId": "DirectoryService_GetDomains",
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/DomainDto"
                }
              }
            }
          }
        }
      },
      "/api/DirectoryService/SearchForUsersAndGroups": {
        "get": {
          "tags": [
            "DirectoryService"
          ],
          "summary": "Search users and groups",
          "description": "OAuth required scopes: OR.Users or OR.Users.Read.\n\nRequired permissions: Users.View or Units.Edit or SubFolders.Edit.",
          "operationId": "DirectoryService_SearchForUsersAndGroups",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "searchContext",
              "description": "",
              "type": "string",
              "enum": [
                "All",
                "Users",
                "Groups",
                "Robots"
              ],
              "x-ms-enum": {
                "name": "SearchContext",
                "modelAsString": false
              }
            },
            {
              "in": "query",
              "name": "domain",
              "description": "",
              "type": "string"
            },
            {
              "in": "query",
              "name": "prefix",
              "description": "",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/DirectoryObjectDto"
                }
              }
            }
          }
        }
      },
      "/api/FoldersNavigation/GetAllFoldersForCurrentUser": {
        "get": {
          "tags": [
            "FoldersNavigation"
          ],
          "summary": "Returns the folders the current user has access to.\r\nThe response will be a list of folders; the hierarchy can be reconstructed\r\nusing the ParentId properties. From the root to the folders the user has\r\nactually been assigned to, the folders will be marked as non-selectable\r\nand only the paths to the assigned-to folders will be included.\r\nFrom the assigned-to folders down to the leaves, the nodes will be marked as\r\nselectable and their children lists fully populated.",
          "description": "OAuth authentication is not supported.\n\nRequires authentication.",
          "operationId": "FoldersNavigation_GetAllFoldersForCurrentUser",
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ExtendedFolderDto"
                }
              }
            }
          }
        }
      },
      "/api/FoldersNavigation/GetAllRolesForUser": {
        "get": {
          "tags": [
            "FoldersNavigation"
          ],
          "summary": "Returns a page of the user-folder assignments for the input user, including the roles for each folder.\r\nThe response also includes the folders assigned to the directory groups of the user.\r\nThe distinction between the folders assigned directly to the user and the ones assigned to one of his groups\r\ncan be made via the User field of the response.",
          "description": "OAuth authentication is not supported.\n\nRequired permissions: (Units.View - Gets roles from all folders) and (SubFolders.View - Gets roles only from folders where caller has SubFolders.View permission).",
          "operationId": "FoldersNavigation_GetAllRolesForUser",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "username",
              "description": "User name",
              "type": "string"
            },
            {
              "in": "query",
              "name": "skip",
              "description": "",
              "type": "integer",
              "format": "int32"
            },
            {
              "in": "query",
              "name": "take",
              "description": "",
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/UserRoleAssignmentsDto"
              }
            }
          }
        }
      },
      "/api/FoldersNavigation/GetFolderNavigationContextForCurrentUser": {
        "get": {
          "tags": [
            "FoldersNavigation"
          ],
          "summary": "Returns a subset (paginated) of direct children for a given folder, which are accessible to the current user.\r\nTo ease a folder tree structure navigation design, the list of ancestors for the given folder is also returned.",
          "description": "OAuth authentication is not supported.\n\nRequires authentication.",
          "operationId": "FoldersNavigation_GetFolderNavigationContextForCurrentUser",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "skip",
              "type": "integer",
              "format": "int32"
            },
            {
              "in": "query",
              "name": "take",
              "type": "integer",
              "format": "int32"
            },
            {
              "in": "query",
              "name": "folderId",
              "type": "integer",
              "format": "int64"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/FolderNavigationContextDto"
              }
            }
          }
        }
      },
      "/api/FoldersNavigation/GetFoldersForCurrentUser": {
        "get": {
          "tags": [
            "FoldersNavigation"
          ],
          "summary": "Returns a filtered subset (paginated) of the folders the current user has access to.",
          "description": "OAuth authentication is not supported.\n\nRequires authentication.",
          "operationId": "FoldersNavigation_GetFoldersForCurrentUser",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "skip",
              "type": "integer",
              "format": "int32"
            },
            {
              "in": "query",
              "name": "take",
              "type": "integer",
              "format": "int32"
            },
            {
              "in": "query",
              "name": "searchText",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/PageResultDtoOfFolderDto"
              }
            }
          }
        }
      },
      "/api/Licensing/Acquire": {
        "post": {
          "tags": [
            "Licensing"
          ],
          "summary": "Acquire license units",
          "description": "OAuth required scopes: OR.Administration or OR.Administration.Write.\n\nRequires authentication.",
          "operationId": "Licensing_Acquire",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/ConsumptionLicenseDto"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/LicenseResultDto"
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "409": {
              "description": "Conflict"
            },
            "503": {
              "description": "Server Error"
            }
          }
        }
      },
      "/api/Licensing/Release": {
        "put": {
          "tags": [
            "Licensing"
          ],
          "summary": "Release acquired license units",
          "description": "OAuth required scopes: OR.Administration or OR.Administration.Write.\n\nRequires authentication.",
          "operationId": "Licensing_Release",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/ConsumptionLicenseDto"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/LicenseResultDto"
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "409": {
              "description": "Conflict"
            },
            "503": {
              "description": "Server Error"
            }
          }
        }
      },
      "/api/Logs": {
        "post": {
          "tags": [
            "Logs"
          ],
          "summary": "Inserts a log entry with a specified message in JSON format.",
          "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Write.\n\nRequired permissions: (Logs.Create).\n\nExample of jMessage parameter.\r\n            \r\n     {\r\n         \"message\": \"TTT execution started\",\r\n         \"level\": \"Information\",\r\n         \"timeStamp\": \"2017-01-18T14:46:07.4152893+02:00\",\r\n         \"windowsIdentity\": \"DESKTOP-1L50L0P\\\\WindowsUser\",\r\n         \"agentSessionId\": \"00000000-0000-0000-0000-000000000000\",\r\n         \"processName\": \"TTT\",\r\n         \"fileName\": \"Main\",\r\n         \"jobId\": \"8066c309-cef8-4b47-9163-b273fc14cc43\"\r\n     }",
          "operationId": "Logs_Post",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "description": "",
              "schema": {}
            }
          ],
          "responses": {
            "200": {
              "description": "Successfully inserts a log message. Although it's a post, there's no need for an object to be returned"
            },
            "400": {
              "description": "jMessage is null or an Exception is thrown during insert"
            },
            "408": {
              "description": "Too many pending logging requests or timeout"
            }
          }
        }
      },
      "/api/Logs/SubmitLogs": {
        "post": {
          "tags": [
            "Logs"
          ],
          "summary": "Inserts a collection of log entries, each in a specific JSON format.",
          "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Write.\n\nRequired permissions: (Logs.Create).\n\nExample of log entry:\r\n     {\r\n         \"message\": \"TTT execution started\",\r\n         \"level\": \"Information\",\r\n         \"timeStamp\": \"2017-01-18T14:46:07.4152893+02:00\",\r\n         \"windowsIdentity\": \"DESKTOP-1L50L0P\\\\WindowsUser\",\r\n         \"agentSessionId\": \"00000000-0000-0000-0000-000000000000\",\r\n         \"processName\": \"TTT\",\r\n         \"fileName\": \"Main\",\r\n         \"jobId\": \"8066c309-cef8-4b47-9163-b273fc14cc43\"\r\n     }",
          "operationId": "Logs_SubmitLogs",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "description": "Collection of string representations of JSON objects",
              "schema": {
                "description": "Collection of string representations of JSON objects",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successfully inserts the log entries"
            },
            "400": {
              "description": "logs is null or an Exception is thrown during insert"
            },
            "408": {
              "description": "Too many pending logging requests or timeout"
            }
          }
        }
      },
      "/api/Maintenance/End": {
        "post": {
          "tags": [
            "Maintenance"
          ],
          "summary": "Ends a maintenance window",
          "description": "OAuth required scopes: OR.Administration or OR.Administration.Write.\n\nHost only. Requires authentication.",
          "operationId": "Maintenance_End",
          "parameters": [
            {
              "in": "query",
              "name": "tenantId",
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "204": {
              "description": "Success"
            }
          }
        }
      },
      "/api/Maintenance/Get": {
        "get": {
          "tags": [
            "Maintenance"
          ],
          "summary": "Gets the host admin logs.",
          "description": "OAuth required scopes: OR.Administration or OR.Administration.Read.\n\nHost only. Required permissions: Audit.View.",
          "operationId": "Maintenance_Get",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "tenantId",
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/MaintenanceSetting"
              }
            }
          }
        }
      },
      "/api/Maintenance/Start": {
        "post": {
          "tags": [
            "Maintenance"
          ],
          "summary": "Starts a maintenance window",
          "description": "OAuth required scopes: OR.Administration or OR.Administration.Write.\n\nHost only. Requires authentication.",
          "operationId": "Maintenance_Start",
          "parameters": [
            {
              "in": "query",
              "name": "phase",
              "description": "Phase - UiPath.Orchestrator.DataContracts.MaintenanceState.Draining or UiPath.Orchestrator.DataContracts.MaintenanceState.Suspended",
              "type": "string",
              "enum": [
                "None",
                "Draining",
                "Suspended"
              ],
              "x-ms-enum": {
                "name": "MaintenanceState",
                "modelAsString": false
              }
            },
            {
              "in": "query",
              "name": "force",
              "description": "Whether to ignore errors during transition",
              "type": "boolean",
              "default": false
            },
            {
              "in": "query",
              "name": "killJobs",
              "description": "Whether to force-kill running jobs when transitioning to UiPath.Orchestrator.DataContracts.MaintenanceState.Suspended",
              "type": "boolean",
              "default": false
            },
            {
              "in": "query",
              "name": "tenantId",
              "description": "If tenant id is set, maintenance will start only for this tenant",
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "204": {
              "description": "Success"
            }
          }
        }
      },
      "/api/PackageFeeds/GetFolderFeed": {
        "get": {
          "tags": [
            "PackageFeeds"
          ],
          "summary": "Returns the feed id for a user assigned folder having specific feed",
          "description": "OAuth required scopes: OR.Execution or OR.Execution.Read.\n\nRequires authentication.",
          "operationId": "PackageFeeds_GetFolderFeed",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "folderId",
              "description": "",
              "type": "integer",
              "format": "int64"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "format": "uuid",
                "type": "string"
              }
            }
          }
        }
      },
      "/api/Stats/GetConsumptionLicenseStats": {
        "get": {
          "tags": [
            "Stats"
          ],
          "summary": "Gets the consumption licensing usage statistics",
          "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequired permissions: License.View.",
          "operationId": "Stats_GetConsumptionLicenseStats",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "tenantId",
              "description": "The Tenant's Id - can be used when authenticated as Host",
              "type": "integer",
              "format": "int32"
            },
            {
              "in": "query",
              "name": "days",
              "description": "Number of reported license usage days",
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ConsumptionLicenseStatsModel"
                }
              }
            }
          }
        }
      },
      "/api/Stats/GetCountStats": {
        "get": {
          "tags": [
            "Stats"
          ],
          "summary": "Gets the total number of various entities registered in Orchestrator",
          "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequires authentication.\n\nReturns the name and the total number of entities registered in Orchestrator for a set of entities.\r\nAll the counted entity types can be seen in the result below.\r\n     [\r\n           {\r\n             \"title\": \"Processes\",\r\n             \"count\": 1\r\n           },\r\n           {\r\n             \"title\": \"Assets\",\r\n             \"count\": 0\r\n           },\r\n           {\r\n             \"title\": \"Queues\",\r\n             \"count\": 0\r\n           },\r\n           {\r\n             \"title\": \"Schedules\",\r\n             \"count\": 0\r\n           }\r\n     ]",
          "operationId": "Stats_GetCountStats",
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/CountStats"
                }
              }
            }
          }
        }
      },
      "/api/Stats/GetJobsStats": {
        "get": {
          "tags": [
            "Stats"
          ],
          "summary": "Gets the total number of jobs aggregated by Job State",
          "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequired permissions: Jobs.View.\n\nReturns the total number of Successful, Faulted and Canceled jobs respectively.\r\nExample of returned result:\r\n    [\r\n          {\r\n            \"title\": \"Successful\",\r\n            \"count\": 0\r\n          },\r\n          {\r\n            \"title\": \"Faulted\",\r\n            \"count\": 0\r\n          },\r\n          {\r\n            \"title\": \"Canceled\",\r\n            \"count\": 0\r\n          }\r\n    ]",
          "operationId": "Stats_GetJobsStats",
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/CountStats"
                }
              }
            }
          }
        }
      },
      "/api/Stats/GetLicenseStats": {
        "get": {
          "tags": [
            "Stats"
          ],
          "summary": "Gets the licensing usage statistics",
          "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequired permissions: License.View.",
          "operationId": "Stats_GetLicenseStats",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "tenantId",
              "description": "The Tenant's Id - can be used when authenticated as Host",
              "type": "integer",
              "format": "int32"
            },
            {
              "in": "query",
              "name": "days",
              "description": "Number of reported license usage days",
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/LicenseStatsModel"
                }
              }
            }
          }
        }
      },
      "/api/Stats/GetSessionsStats": {
        "get": {
          "tags": [
            "Stats"
          ],
          "summary": "Gets the total number of robots aggregated by Robot State",
          "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequired permissions: Robots.View.\n\nReturns the total number of Available, Busy, Disconnected and Unresponsive robots respectively.\r\nExample of returned result:\r\n    [\r\n          {\r\n            \"title\": \"Available\",\r\n            \"count\": 1\r\n          },\r\n          {\r\n            \"title\": \"Busy\",\r\n            \"count\": 0\r\n          },\r\n          {\r\n            \"title\": \"Disconnected\",\r\n            \"count\": 1\r\n          },\r\n          {\r\n            \"title\": \"Unresponsive\",\r\n            \"count\": 0\r\n          }\r\n    ]",
          "operationId": "Stats_GetSessionsStats",
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/CountStats"
                }
              }
            }
          }
        }
      },
      "/api/Status/Get": {
        "get": {
          "tags": [
            "Status"
          ],
          "summary": "Returns whether the current endpoint should be serving traffic",
          "operationId": "Status_Get",
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      }
    },
    "definitions": {
      "LoginModel": {
        "required": [
          "password",
          "usernameOrEmailAddress"
        ],
        "type": "object",
        "properties": {
          "tenancyName": {
            "type": "string"
          },
          "usernameOrEmailAddress": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "ValidationErrorInfo": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "members": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorInfo": {
        "type": "object",
        "properties": {
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "validationErrors": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ValidationErrorInfo"
            }
          }
        }
      },
      "AjaxResponse": {
        "type": "object",
        "properties": {
          "result": {},
          "targetUrl": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "error": {
            "$ref": "#/definitions/ErrorInfo"
          },
          "unAuthorizedRequest": {
            "type": "boolean"
          },
          "__abp": {
            "type": "boolean",
            "readOnly": true
          }
        }
      },
      "UserOrganizationUnitDto": {
        "description": "Stores information about an organization unit in Orchestrator.\r\n<para /> An orchestrator unit can be understood as a company department and it is used to group different entities.",
        "type": "object",
        "properties": {
          "userId": {
            "format": "int64",
            "description": "The Id of the user",
            "type": "integer"
          },
          "userName": {
            "description": "The name of the user",
            "type": "string"
          },
          "organizationUnitId": {
            "format": "int64",
            "description": "The Id of the organization unit",
            "type": "integer"
          },
          "organizationUnitName": {
            "description": "The name of the organization unit.",
            "type": "string"
          },
          "id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "LightRoleDto": {
        "type": "object",
        "properties": {
          "name": {
            "description": "A custom name for the role.",
            "maxLength": 32,
            "type": "string"
          },
          "displayName": {
            "description": "An alternative name used for UI display.",
            "maxLength": 64,
            "type": "string"
          },
          "groups": {
            "description": "Allows grouping multiple roles together.",
            "type": "string"
          },
          "isStatic": {
            "description": "States whether this role is defined by the application and cannot be deleted or it is user defined and can be deleted.",
            "type": "boolean"
          },
          "isEditable": {
            "description": "States whether the permissions for this role can be modified or not.",
            "type": "boolean"
          },
          "id": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "DirectoryPermissionDto": {
        "type": "object",
        "properties": {
          "directoryGroup": {
            "type": "string"
          },
          "organizationUnits": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/UserOrganizationUnitDto"
            }
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/LightRoleDto"
            }
          }
        }
      },
      "DomainDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          }
        }
      },
      "DirectoryObjectDto": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "User",
              "Group",
              "Machine",
              "Robot"
            ],
            "type": "string",
            "readOnly": true,
            "x-ms-enum": {
              "name": "DirectoryObjectDtoType",
              "modelAsString": false
            }
          },
          "source": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "identityName": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "ExtendedFolderDto": {
        "required": [
          "DisplayName"
        ],
        "type": "object",
        "properties": {
          "IsSelectable": {
            "description": "Determines whether this folder can be selected to view its entities",
            "type": "boolean"
          },
          "HasChildren": {
            "description": "True if this folder has children",
            "type": "boolean"
          },
          "Level": {
            "format": "int32",
            "description": "Level in the Folders tree.",
            "type": "integer"
          },
          "Key": {
            "format": "uuid",
            "description": "Unique key for the folder",
            "type": "string"
          },
          "DisplayName": {
            "description": "Display name for the folder.",
            "maxLength": 115,
            "type": "string"
          },
          "FullyQualifiedName": {
            "description": "Name of folder prepended by the names of its ancestors.",
            "type": "string"
          },
          "Description": {
            "description": "Description of folder",
            "maxLength": 500,
            "type": "string"
          },
          "IsPersonal": {
            "description": "True if Personal",
            "type": "boolean",
            "readOnly": true
          },
          "ProvisionType": {
            "description": "Robot provisioning type",
            "enum": [
              "Manual",
              "Automatic"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "FolderDtoProvisionType",
              "modelAsString": false
            }
          },
          "PermissionModel": {
            "description": "Folder permissions model",
            "enum": [
              "InheritFromTenant",
              "FineGrained"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "FolderDtoPermissionModel",
              "modelAsString": false
            }
          },
          "ParentId": {
            "format": "int64",
            "description": "Id of parent folder in the folders hierarchy",
            "type": "integer"
          },
          "ParentKey": {
            "format": "uuid",
            "description": "Unique key for the parent folder",
            "type": "string"
          },
          "FeedType": {
            "description": "Folder feed type",
            "enum": [
              "Undefined",
              "Processes",
              "Libraries",
              "PersonalWorkspace",
              "FolderHierarchy"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "FolderDtoFeedType",
              "modelAsString": false
            }
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "SimpleUserEntityDto": {
        "type": "object",
        "properties": {
          "UserName": {
            "type": "string"
          },
          "IsInherited": {
            "type": "boolean"
          },
          "AssignedToFolderIds": {
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            }
          },
          "MayHaveAttended": {
            "type": "boolean"
          },
          "MayHaveUnattended": {
            "type": "boolean"
          },
          "Type": {
            "enum": [
              "User",
              "Robot",
              "DirectoryUser",
              "DirectoryGroup",
              "DirectoryRobot"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "SimpleUserEntityDtoType",
              "modelAsString": false
            }
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "RoleUsersDto": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Users": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/SimpleUserEntityDto"
            }
          },
          "Id": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "SimpleFolderDto": {
        "type": "object",
        "properties": {
          "DisplayName": {
            "type": "string"
          },
          "FullyQualifiedName": {
            "type": "string"
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "FolderAssignmentsDto": {
        "type": "object",
        "properties": {
          "Folder": {
            "$ref": "#/definitions/SimpleFolderDto"
          },
          "Roles": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/RoleUsersDto"
            }
          }
        }
      },
      "UserRoleAssignmentsDto": {
        "type": "object",
        "properties": {
          "TenantRoles": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/RoleUsersDto"
            }
          },
          "PageItems": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/FolderAssignmentsDto"
            }
          },
          "Count": {
            "format": "int32",
            "type": "integer"
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "FolderNavigationContextDto": {
        "type": "object",
        "properties": {
          "Id": {
            "format": "int64",
            "type": "integer"
          },
          "DisplayName": {
            "type": "string"
          },
          "IsSelectable": {
            "type": "boolean"
          },
          "IsPersonal": {
            "type": "boolean"
          },
          "ProvisionType": {
            "enum": [
              "Manual",
              "Automatic"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "FolderNavigationContextDtoProvisionType",
              "modelAsString": false
            }
          },
          "Ancestors": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/SimpleFolderDto"
            }
          },
          "ChildrenPage": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ExtendedFolderDto"
            }
          },
          "ChildrenCount": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "FolderDto": {
        "required": [
          "DisplayName"
        ],
        "type": "object",
        "properties": {
          "Key": {
            "format": "uuid",
            "description": "Unique key for the folder",
            "type": "string"
          },
          "DisplayName": {
            "description": "Display name for the folder.",
            "maxLength": 115,
            "type": "string"
          },
          "FullyQualifiedName": {
            "description": "Name of folder prepended by the names of its ancestors.",
            "type": "string"
          },
          "Description": {
            "description": "Description of folder",
            "maxLength": 500,
            "type": "string"
          },
          "IsPersonal": {
            "description": "True if Personal",
            "type": "boolean",
            "readOnly": true
          },
          "ProvisionType": {
            "description": "Robot provisioning type",
            "enum": [
              "Manual",
              "Automatic"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "FolderDtoProvisionType",
              "modelAsString": false
            }
          },
          "PermissionModel": {
            "description": "Folder permissions model",
            "enum": [
              "InheritFromTenant",
              "FineGrained"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "FolderDtoPermissionModel",
              "modelAsString": false
            }
          },
          "ParentId": {
            "format": "int64",
            "description": "Id of parent folder in the folders hierarchy",
            "type": "integer"
          },
          "ParentKey": {
            "format": "uuid",
            "description": "Unique key for the parent folder",
            "type": "string"
          },
          "FeedType": {
            "description": "Folder feed type",
            "enum": [
              "Undefined",
              "Processes",
              "Libraries",
              "PersonalWorkspace",
              "FolderHierarchy"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "FolderDtoFeedType",
              "modelAsString": false
            }
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "PageResultDtoOfFolderDto": {
        "type": "object",
        "properties": {
          "PageItems": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/FolderDto"
            }
          },
          "Count": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "ConsumptionLicenseDto": {
        "type": "object",
        "properties": {
          "reference": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "count": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "LicenseResultDto": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "enum": [
              "NoLicense",
              "LicenseExpired",
              "LicenseUnregistered",
              "NoAvailableLicenses",
              "NotEnoughAvailableSlots",
              "NotEnoughRuntimeLicenses",
              "LicenseIsAlreadyInUse",
              "InvalidRequest",
              "SlotsExceedLicenseLimit",
              "RuntimeDisabled",
              "ExternalNotSupported",
              "UsageExceedsLicenseLimit",
              "LicenseNotCompatible"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "LicenseResultDtoErrorCode",
              "modelAsString": false
            }
          },
          "errorMessage": {
            "type": "string"
          }
        }
      },
      "WebhookRobotDto": {
        "type": "object",
        "properties": {
          "Id": {
            "format": "int64",
            "type": "integer",
            "readOnly": true
          },
          "Name": {
            "type": "string",
            "readOnly": true
          },
          "MachineId": {
            "format": "int64",
            "type": "integer",
            "readOnly": true
          },
          "MachineName": {
            "type": "string",
            "readOnly": true
          },
          "Description": {
            "type": "string",
            "readOnly": true
          },
          "UserName": {
            "type": "string",
            "readOnly": true
          },
          "Type": {
            "enum": [
              "NonProduction",
              "Attended",
              "Unattended",
              "Studio",
              "Development",
              "RpaDeveloper",
              "StudioX",
              "CitizenDeveloper",
              "Headless",
              "StudioPro",
              "RpaDeveloperPro",
              "TestAutomation",
              "AutomationCloud"
            ],
            "type": "string",
            "readOnly": true,
            "x-ms-enum": {
              "name": "WebhookRobotDtoType",
              "modelAsString": false
            }
          },
          "HostingType": {
            "enum": [
              "Standard",
              "Floating"
            ],
            "type": "string",
            "readOnly": true,
            "x-ms-enum": {
              "name": "WebhookRobotDtoHostingType",
              "modelAsString": false
            }
          },
          "Environments": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/WebhookEnvironmentDto"
            },
            "readOnly": true
          },
          "ExecutionSettings": {
            "type": "object",
            "additionalProperties": {},
            "readOnly": true
          }
        }
      },
      "MaintenanceStateLog": {
        "type": "object",
        "properties": {
          "state": {
            "enum": [
              "None",
              "Draining",
              "Suspended"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "MaintenanceStateLogState",
              "modelAsString": false
            }
          },
          "timeStamp": {
            "format": "date-time",
            "type": "string"
          }
        }
      },
      "MaintenanceSetting": {
        "type": "object",
        "properties": {
          "state": {
            "enum": [
              "None",
              "Draining",
              "Suspended"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "MaintenanceSettingState",
              "modelAsString": false
            }
          },
          "maintenanceLogs": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/MaintenanceStateLog"
            },
            "readOnly": true
          },
          "jobStopsAttempted": {
            "format": "int32",
            "type": "integer"
          },
          "jobKillsAttempted": {
            "format": "int32",
            "type": "integer"
          },
          "triggersSkipped": {
            "format": "int32",
            "type": "integer"
          },
          "systemTriggersSkipped": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "ConsumptionLicenseStatsModel": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "used": {
            "format": "int64",
            "type": "integer"
          },
          "total": {
            "format": "int64",
            "type": "integer"
          },
          "timestamp": {
            "format": "date-time",
            "type": "string"
          }
        }
      },
      "CountStats": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "count": {
            "format": "int64",
            "type": "integer"
          },
          "hasPermissions": {
            "description": "Gives a more descriptive result when getting stats through the API (as opposed to -1 for the count)\r\nused only when serializing the count stats",
            "type": "boolean",
            "readOnly": true
          }
        }
      },
      "LicenseStatsModel": {
        "type": "object",
        "properties": {
          "robotType": {
            "enum": [
              "NonProduction",
              "Attended",
              "Unattended",
              "Studio",
              "Development",
              "RpaDeveloper",
              "StudioX",
              "CitizenDeveloper",
              "Headless",
              "StudioPro",
              "RpaDeveloperPro",
              "TestAutomation",
              "AutomationCloud"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "LicenseStatsModelRobotType",
              "modelAsString": false
            }
          },
          "count": {
            "format": "int64",
            "type": "integer"
          },
          "timestamp": {
            "format": "date-time",
            "type": "string"
          }
        }
      },
      "HostAvailabilityDto": {
        "type": "object",
        "properties": {
          "canConnect": {
            "description": "Target host is reachable and a succesful TCP connection could be made on the specified port",
            "type": "boolean"
          },
          "hasBadSsl": {
            "description": "Any error occurred during SSL/TLS authentication.\r\nIncludes bad certificates (name mismatch, expired certificates), unsupported protocol versions or cyphersuites",
            "type": "boolean"
          },
          "connectionError": {
            "description": "An error code that further describes the type of connection error.\r\nDoes not include TLS/SSL errors",
            "type": "string"
          }
        }
      },
      "BuildTestSetRequestMessage": {
        "required": [
          "releaseId",
          "versionNumber"
        ],
        "type": "object",
        "properties": {
          "releaseId": {
            "format": "int64",
            "type": "integer"
          },
          "versionNumber": {
            "type": "string"
          },
          "testCaseUniqueIds": {
            "type": "array",
            "items": {
              "format": "uuid",
              "type": "string"
            }
          }
        }
      },
      "TestPackageInfoDto": {
        "type": "object",
        "properties": {
          "packageIdentifier": {
            "type": "string"
          },
          "latestVersion": {
            "type": "string"
          },
          "latestPrereleaseVersion": {
            "type": "string"
          }
        }
      },
      "TestReleaseVersionDto": {
        "type": "object",
        "properties": {
          "releaseId": {
            "format": "int64",
            "type": "integer"
          },
          "versionNumber": {
            "type": "string"
          },
          "organizationUnitId": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestCaseExecutionAttachmentFilterDto": {
        "type": "object",
        "properties": {
          "testCaseExecutionId": {
            "format": "int64",
            "type": "integer"
          },
          "jobKey": {
            "format": "uuid",
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TestCaseExecutionAttachmentDto": {
        "type": "object",
        "properties": {
          "TestCaseExecutionId": {
            "format": "int64",
            "type": "integer"
          },
          "FileName": {
            "type": "string"
          },
          "MimeType": {
            "type": "string"
          },
          "CreationTime": {
            "format": "date-time",
            "type": "string"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestSetExecutionAttachmentFilterDto": {
        "type": "object",
        "properties": {
          "testSetExecutionId": {
            "format": "int64",
            "type": "integer"
          },
          "batchExecutionKey": {
            "format": "uuid",
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TestSetExecutionAttachmentDto": {
        "type": "object",
        "properties": {
          "TestSetExecutionId": {
            "format": "int64",
            "type": "integer"
          },
          "FileName": {
            "type": "string"
          },
          "MimeType": {
            "type": "string"
          },
          "CreationTime": {
            "format": "date-time",
            "type": "string"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestCaseExecutionArgumentsDto": {
        "required": [
          "testCaseExecutionId"
        ],
        "type": "object",
        "properties": {
          "testCaseExecutionId": {
            "format": "int64",
            "type": "integer"
          },
          "inputArguments": {}
        }
      },
      "ReexecuteTestCasesOptionsDto": {
        "required": [
          "testCaseExecutions"
        ],
        "type": "object",
        "properties": {
          "testCaseExecutions": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TestCaseExecutionArgumentsDto"
            }
          },
          "robotId": {
            "format": "int64",
            "type": "integer"
          },
          "machineSessionId": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestEnvironmentDto": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestSetPackageDto": {
        "required": [
          "PackageIdentifier",
          "VersionMask"
        ],
        "type": "object",
        "properties": {
          "TestSetId": {
            "format": "int64",
            "type": "integer"
          },
          "TestSet": {
            "$ref": "#/definitions/TestSetDto"
          },
          "VersionMask": {
            "type": "string"
          },
          "PackageIdentifier": {
            "type": "string"
          },
          "IncludePrerelease": {
            "type": "boolean"
          },
          "LastModificationTime": {
            "format": "date-time",
            "type": "string"
          },
          "LastModifierUserId": {
            "format": "int64",
            "type": "integer"
          },
          "CreationTime": {
            "format": "date-time",
            "type": "string"
          },
          "CreatorUserId": {
            "format": "int64",
            "type": "integer"
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestCaseDefinitionDto": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "PackageIdentifier": {
            "type": "string"
          },
          "UniqueId": {
            "format": "uuid",
            "type": "string"
          },
          "AppVersion": {
            "type": "string"
          },
          "CreatedVersion": {
            "type": "string"
          },
          "LatestVersion": {
            "type": "string"
          },
          "LatestPrereleaseVersion": {
            "type": "string"
          },
          "FeedId": {
            "format": "uuid",
            "type": "string"
          },
          "LastModificationTime": {
            "format": "date-time",
            "type": "string"
          },
          "LastModifierUserId": {
            "format": "int64",
            "type": "integer"
          },
          "CreationTime": {
            "format": "date-time",
            "type": "string"
          },
          "CreatorUserId": {
            "format": "int64",
            "type": "integer"
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestCaseDto": {
        "required": [
          "DefinitionId",
          "ReleaseId",
          "VersionNumber"
        ],
        "type": "object",
        "properties": {
          "Enabled": {
            "type": "boolean"
          },
          "DefinitionId": {
            "format": "int64",
            "type": "integer"
          },
          "Definition": {
            "$ref": "#/definitions/TestCaseDefinitionDto"
          },
          "ReleaseId": {
            "format": "int64",
            "type": "integer"
          },
          "VersionNumber": {
            "type": "string"
          },
          "TestSetId": {
            "format": "int64",
            "type": "integer"
          },
          "TestSet": {
            "$ref": "#/definitions/TestSetDto"
          },
          "LastModificationTime": {
            "format": "date-time",
            "type": "string"
          },
          "LastModifierUserId": {
            "format": "int64",
            "type": "integer"
          },
          "CreationTime": {
            "format": "date-time",
            "type": "string"
          },
          "CreatorUserId": {
            "format": "int64",
            "type": "integer"
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestSetInputArgumentDto": {
        "required": [
          "Name",
          "Type",
          "Value"
        ],
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Type": {
            "type": "string"
          },
          "Value": {
            "type": "string"
          },
          "LastModificationTime": {
            "format": "date-time",
            "type": "string"
          },
          "LastModifierUserId": {
            "format": "int64",
            "type": "integer"
          },
          "CreationTime": {
            "format": "date-time",
            "type": "string"
          },
          "CreatorUserId": {
            "format": "int64",
            "type": "integer"
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestSetDto": {
        "required": [
          "Name",
          "Packages",
          "TestCases"
        ],
        "type": "object",
        "properties": {
          "Key": {
            "format": "uuid",
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "SourceType": {
            "enum": [
              "User",
              "ExternalTool",
              "Transient"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TestSetDtoSourceType",
              "modelAsString": false
            }
          },
          "OrganizationUnitId": {
            "format": "int64",
            "type": "integer"
          },
          "EnvironmentId": {
            "format": "int64",
            "type": "integer"
          },
          "Environment": {
            "$ref": "#/definitions/TestEnvironmentDto"
          },
          "TestCaseCount": {
            "format": "int32",
            "type": "integer"
          },
          "RobotId": {
            "format": "int64",
            "type": "integer"
          },
          "EnableCoverage": {
            "type": "boolean"
          },
          "Packages": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TestSetPackageDto"
            }
          },
          "TestCases": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TestCaseDto"
            }
          },
          "InputArguments": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TestSetInputArgumentDto"
            }
          },
          "IsDeleted": {
            "type": "boolean"
          },
          "DeleterUserId": {
            "format": "int64",
            "type": "integer"
          },
          "DeletionTime": {
            "format": "date-time",
            "type": "string"
          },
          "LastModificationTime": {
            "format": "date-time",
            "type": "string"
          },
          "LastModifierUserId": {
            "format": "int64",
            "type": "integer"
          },
          "CreationTime": {
            "format": "date-time",
            "type": "string"
          },
          "CreatorUserId": {
            "format": "int64",
            "type": "integer"
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestSetExecutionDto": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "TestSetId": {
            "format": "int64",
            "type": "integer"
          },
          "OrganizationUnitId": {
            "format": "int64",
            "type": "integer"
          },
          "TestSet": {
            "$ref": "#/definitions/TestSetDto"
          },
          "StartTime": {
            "format": "date-time",
            "type": "string"
          },
          "EndTime": {
            "format": "date-time",
            "type": "string"
          },
          "Status": {
            "enum": [
              "Pending",
              "Running",
              "Cancelling",
              "Passed",
              "Failed",
              "Cancelled"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TestSetExecutionDtoStatus",
              "modelAsString": false
            }
          },
          "TriggerType": {
            "enum": [
              "Manual",
              "Scheduled",
              "ExternalTool"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TestSetExecutionDtoTriggerType",
              "modelAsString": false
            }
          },
          "ScheduleId": {
            "format": "int64",
            "type": "integer"
          },
          "BatchExecutionKey": {
            "format": "uuid",
            "type": "string"
          },
          "CoverageStatus": {
            "enum": [
              "Disabled",
              "Pending",
              "Processing",
              "Completed"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TestSetExecutionDtoCoverageStatus",
              "modelAsString": false
            }
          },
          "RunId": {
            "format": "int32",
            "type": "integer"
          },
          "TestCaseExecutions": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TestCaseExecutionDto"
            }
          },
          "Attachments": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TestSetExecutionAttachmentDto"
            }
          },
          "CreationTime": {
            "format": "date-time",
            "type": "string"
          },
          "CreatorUserId": {
            "format": "int64",
            "type": "integer"
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestCaseAssertionDto": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string"
          },
          "Payload": {
            "type": "string"
          },
          "Succeeded": {
            "type": "boolean"
          },
          "TestCaseExecutionId": {
            "format": "int64",
            "type": "integer"
          },
          "HasScreenshot": {
            "type": "boolean"
          },
          "CreationTime": {
            "format": "date-time",
            "type": "string"
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestCaseExecutionDto": {
        "type": "object",
        "properties": {
          "JobId": {
            "format": "int64",
            "type": "integer"
          },
          "JobKey": {
            "format": "uuid",
            "type": "string"
          },
          "TestSetExecutionId": {
            "format": "int64",
            "type": "integer"
          },
          "TestSetExecution": {
            "$ref": "#/definitions/TestSetExecutionDto"
          },
          "TestCaseId": {
            "format": "int64",
            "type": "integer"
          },
          "TestCase": {
            "$ref": "#/definitions/TestCaseDto"
          },
          "ReleaseVersionId": {
            "format": "int64",
            "type": "integer"
          },
          "VersionNumber": {
            "type": "string"
          },
          "EntryPointPath": {
            "type": "string"
          },
          "StartTime": {
            "format": "date-time",
            "type": "string"
          },
          "EndTime": {
            "format": "date-time",
            "type": "string"
          },
          "Status": {
            "enum": [
              "Pending",
              "Running",
              "Cancelling",
              "Passed",
              "Failed",
              "Cancelled"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TestCaseExecutionDtoStatus",
              "modelAsString": false
            }
          },
          "TestCaseAssertions": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TestCaseAssertionDto"
            }
          },
          "TestCaseExecutionAttachments": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TestCaseExecutionAttachmentDto"
            }
          },
          "DataVariationIdentifier": {
            "type": "string"
          },
          "OutputArguments": {
            "type": "string"
          },
          "InputArguments": {
            "type": "string"
          },
          "Info": {
            "type": "string"
          },
          "HostMachineName": {
            "type": "string"
          },
          "RobotName": {
            "type": "string"
          },
          "HasAssertions": {
            "type": "boolean"
          },
          "RunId": {
            "format": "int32",
            "type": "integer"
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestCaseExecutionOptionsDto": {
        "required": [
          "uniqueId"
        ],
        "type": "object",
        "properties": {
          "uniqueId": {
            "format": "uuid",
            "type": "string"
          },
          "packageIdentifier": {
            "type": "string"
          },
          "inputArgumentsVariations": {
            "type": "array",
            "items": {}
          }
        }
      },
      "TestSetExecutionOptionsDto": {
        "type": "object",
        "properties": {
          "batchExecutionKey": {
            "format": "uuid",
            "type": "string"
          },
          "triggerType": {
            "enum": [
              "Manual",
              "Scheduled",
              "ExternalTool"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TestSetExecutionOptionsDtoTriggerType",
              "modelAsString": false
            }
          },
          "testCases": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TestCaseExecutionOptionsDto"
            }
          },
          "executeOnlySpecifiedTestCases": {
            "type": "boolean"
          },
          "robotId": {
            "format": "int64",
            "type": "integer"
          },
          "machineSessionId": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestDataQueueAddItemDto": {
        "required": [
          "queueName"
        ],
        "type": "object",
        "properties": {
          "queueName": {
            "type": "string"
          },
          "content": {}
        }
      },
      "TestDataQueueItemDto": {
        "type": "object",
        "properties": {
          "testDataQueueId": {
            "format": "int64",
            "type": "integer"
          },
          "content": {},
          "isConsumed": {
            "type": "boolean"
          },
          "id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TestDataQueueBulkAddItemsDto": {
        "required": [
          "items",
          "queueName"
        ],
        "type": "object",
        "properties": {
          "queueName": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {}
          }
        }
      },
      "TestDataQueueGetNextItemDto": {
        "required": [
          "queueName",
          "setConsumed"
        ],
        "type": "object",
        "properties": {
          "queueName": {
            "type": "string"
          },
          "setConsumed": {
            "type": "boolean"
          }
        }
      },
      "TestDataQueueSetAllItemsConsumedDto": {
        "required": [
          "isConsumed",
          "queueName"
        ],
        "type": "object",
        "properties": {
          "queueName": {
            "type": "string"
          },
          "isConsumed": {
            "type": "boolean"
          }
        }
      },
      "TestDataQueueSetItemsConsumedDto": {
        "required": [
          "isConsumed",
          "itemIds"
        ],
        "type": "object",
        "properties": {
          "itemIds": {
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            }
          },
          "isConsumed": {
            "type": "boolean"
          }
        }
      },
      "BulkTasksCompletionRequest": {
        "required": [
          "action",
          "data",
          "taskIds"
        ],
        "type": "object",
        "properties": {
          "action": {
            "description": "Action taken on this task",
            "type": "string"
          },
          "taskIds": {
            "description": "List of Task Ids which have to be Bulk edited",
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            }
          },
          "data": {
            "description": "Task data json"
          },
          "title": {
            "description": "Title of tasks",
            "maxLength": 512,
            "type": "string"
          },
          "taskCatalogId": {
            "format": "int64",
            "description": "Action Catalog to be associated with the tasks",
            "type": "integer"
          },
          "unsetTaskCatalog": {
            "description": "Unset/Unassociate action catalogs with the tasks\r\nSet to true for unassociating catalog",
            "type": "boolean"
          },
          "priority": {
            "description": "Priority of tasks",
            "enum": [
              "Low",
              "Medium",
              "High",
              "Critical"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "BulkTasksDataUpdateRequestPriority",
              "modelAsString": false
            }
          },
          "noteText": {
            "description": "Comment to be added while doing the bulk operation",
            "maxLength": 512,
            "type": "string"
          }
        }
      },
      "BulkOperationErrorResponse": {
        "type": "object",
        "properties": {
          "taskId": {
            "format": "int64",
            "description": "Gets or sets the taskId for this task operation.",
            "type": "integer"
          },
          "errorCode": {
            "format": "int32",
            "description": "Gets or sets the code of error occurred during this task's operation.",
            "type": "integer"
          },
          "errorMessage": {
            "description": "Gets or sets the translated message of error occurred during this task's operation.",
            "type": "string"
          }
        }
      },
      "BulkTasksDataUpdateRequest": {
        "required": [
          "data",
          "taskIds"
        ],
        "type": "object",
        "properties": {
          "taskIds": {
            "description": "List of Task Ids which have to be Bulk edited",
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            }
          },
          "data": {
            "description": "Task data json"
          },
          "title": {
            "description": "Title of tasks",
            "maxLength": 512,
            "type": "string"
          },
          "taskCatalogId": {
            "format": "int64",
            "description": "Action Catalog to be associated with the tasks",
            "type": "integer"
          },
          "unsetTaskCatalog": {
            "description": "Unset/Unassociate action catalogs with the tasks\r\nSet to true for unassociating catalog",
            "type": "boolean"
          },
          "priority": {
            "description": "Priority of tasks",
            "enum": [
              "Low",
              "Medium",
              "High",
              "Critical"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "BulkTasksDataUpdateRequestPriority",
              "modelAsString": false
            }
          },
          "noteText": {
            "description": "Comment to be added while doing the bulk operation",
            "maxLength": 512,
            "type": "string"
          }
        }
      },
      "TaskCompletionRequest": {
        "required": [
          "taskId"
        ],
        "type": "object",
        "properties": {
          "taskId": {
            "format": "int64",
            "description": "TaskId to retrieve form",
            "type": "integer"
          },
          "data": {
            "description": "Task data json"
          },
          "action": {
            "description": "Action taken on this task",
            "type": "string"
          }
        }
      },
      "FormTaskCreateRequest": {
        "description": "Class with only attributes needed for Creating Task (TaskType = TaskType.FormTask)",
        "required": [
          "title"
        ],
        "type": "object",
        "properties": {
          "formLayout": {
            "description": "Text representing the form layout schema"
          },
          "formLayoutId": {
            "format": "int64",
            "description": "Unique FormLayoutId for a form layout",
            "type": "integer"
          },
          "bulkFormLayoutId": {
            "format": "int64",
            "description": "Unique BulkFormLayoutId for a form layout",
            "type": "integer"
          },
          "title": {
            "description": "Gets or sets title of this task.",
            "maxLength": 512,
            "minLength": 0,
            "type": "string"
          },
          "priority": {
            "description": "Gets or sets priority of this task.",
            "enum": [
              "Low",
              "Medium",
              "High",
              "Critical"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "BaseTaskCreateRequestPriority",
              "modelAsString": false
            }
          },
          "data": {
            "description": "Task data"
          },
          "taskCatalogName": {
            "description": "Gets or sets the task catalog/category of the task",
            "maxLength": 50,
            "type": "string"
          },
          "externalTag": {
            "description": "Reference or name of external system",
            "maxLength": 128,
            "type": "string"
          }
        }
      },
      "TaskDataDto": {
        "description": "Dto with attributes required for Wait activity",
        "type": "object",
        "properties": {
          "status": {
            "description": "Task status",
            "enum": [
              "Unassigned",
              "Pending",
              "Completed"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TaskDataDtoStatus",
              "modelAsString": false
            }
          },
          "data": {
            "description": "Task form data json"
          },
          "action": {
            "description": "Task form action",
            "type": "string"
          },
          "waitJobState": {
            "description": "State of the job(if any) waiting on the current task",
            "enum": [
              "Pending",
              "Running",
              "Stopping",
              "Terminating",
              "Faulted",
              "Successful",
              "Stopped",
              "Suspended",
              "Resumed"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TaskDataDtoWaitJobState",
              "modelAsString": false
            }
          },
          "organizationUnitFullyQualifiedName": {
            "description": "Fully qualified folder name",
            "type": "string"
          },
          "title": {
            "description": "Gets or sets title of this task.",
            "type": "string"
          },
          "type": {
            "description": "Gets or sets type of this task.",
            "enum": [
              "FormTask",
              "ExternalTask",
              "DocumentValidationTask",
              "DocumentClassificationTask"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TaskMetadataDtoType",
              "modelAsString": false
            }
          },
          "priority": {
            "description": "Gets or sets priority of this task.",
            "enum": [
              "Low",
              "Medium",
              "High",
              "Critical"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TaskMetadataDtoPriority",
              "modelAsString": false
            }
          },
          "assignedToUserId": {
            "format": "int64",
            "description": "Gets the id of the actual assigned user, if any.",
            "type": "integer"
          },
          "organizationUnitId": {
            "format": "int64",
            "description": "Gets or sets the folder/organization-unit id.",
            "type": "integer"
          },
          "externalTag": {
            "description": "Identifier of external system where this task is handled",
            "type": "string"
          },
          "creatorJobKey": {
            "format": "uuid",
            "description": "Key of the job which created this task",
            "type": "string"
          },
          "waitJobKey": {
            "format": "uuid",
            "description": "Key job which is waiting on this task",
            "type": "string"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "deleterUserId": {
            "format": "int64",
            "type": "integer"
          },
          "deletionTime": {
            "format": "date-time",
            "type": "string"
          },
          "lastModificationTime": {
            "format": "date-time",
            "type": "string"
          },
          "lastModifierUserId": {
            "format": "int64",
            "type": "integer"
          },
          "creationTime": {
            "format": "date-time",
            "type": "string"
          },
          "creatorUserId": {
            "format": "int64",
            "type": "integer"
          },
          "id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "UserLoginInfoDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TaskFormDto": {
        "description": "Dto for task form",
        "type": "object",
        "properties": {
          "formLayout": {
            "description": "Task Form Layout json"
          },
          "formLayoutId": {
            "format": "int64",
            "description": "Task Form Layout Id",
            "type": "integer"
          },
          "bulkFormLayoutId": {
            "format": "int64",
            "description": "Task Form Layout Id",
            "type": "integer"
          },
          "actionLabel": {
            "description": "Task form action label",
            "type": "string"
          },
          "assignedToUser": {
            "$ref": "#/definitions/UserLoginInfoDto"
          },
          "status": {
            "description": "Task status",
            "enum": [
              "Unassigned",
              "Pending",
              "Completed"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TaskDataDtoStatus",
              "modelAsString": false
            }
          },
          "data": {
            "description": "Task form data json"
          },
          "action": {
            "description": "Task form action",
            "type": "string"
          },
          "waitJobState": {
            "description": "State of the job(if any) waiting on the current task",
            "enum": [
              "Pending",
              "Running",
              "Stopping",
              "Terminating",
              "Faulted",
              "Successful",
              "Stopped",
              "Suspended",
              "Resumed"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TaskDataDtoWaitJobState",
              "modelAsString": false
            }
          },
          "organizationUnitFullyQualifiedName": {
            "description": "Fully qualified folder name",
            "type": "string"
          },
          "title": {
            "description": "Gets or sets title of this task.",
            "type": "string"
          },
          "type": {
            "description": "Gets or sets type of this task.",
            "enum": [
              "FormTask",
              "ExternalTask",
              "DocumentValidationTask",
              "DocumentClassificationTask"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TaskMetadataDtoType",
              "modelAsString": false
            }
          },
          "priority": {
            "description": "Gets or sets priority of this task.",
            "enum": [
              "Low",
              "Medium",
              "High",
              "Critical"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "TaskMetadataDtoPriority",
              "modelAsString": false
            }
          },
          "assignedToUserId": {
            "format": "int64",
            "description": "Gets the id of the actual assigned user, if any.",
            "type": "integer"
          },
          "organizationUnitId": {
            "format": "int64",
            "description": "Gets or sets the folder/organization-unit id.",
            "type": "integer"
          },
          "externalTag": {
            "description": "Identifier of external system where this task is handled",
            "type": "string"
          },
          "creatorJobKey": {
            "format": "uuid",
            "description": "Key of the job which created this task",
            "type": "string"
          },
          "waitJobKey": {
            "format": "uuid",
            "description": "Key job which is waiting on this task",
            "type": "string"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "deleterUserId": {
            "format": "int64",
            "type": "integer"
          },
          "deletionTime": {
            "format": "date-time",
            "type": "string"
          },
          "lastModificationTime": {
            "format": "date-time",
            "type": "string"
          },
          "lastModifierUserId": {
            "format": "int64",
            "type": "integer"
          },
          "creationTime": {
            "format": "date-time",
            "type": "string"
          },
          "creatorUserId": {
            "format": "int64",
            "type": "integer"
          },
          "id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "TaskSaveAndReassignmentRequest": {
        "description": "Class to hold save and reassignment request details of a task.",
        "type": "object",
        "properties": {
          "SaveData": {
            "description": "Gets or Sets whether the data has to be saved",
            "type": "boolean"
          },
          "Data": {
            "description": "Gets or sets the Task data"
          },
          "NoteText": {
            "description": "Gets or sets the Task Note",
            "maxLength": 512,
            "type": "string"
          },
          "TaskId": {
            "format": "int64",
            "description": "Gets or sets the taskId for this task assignment.",
            "minimum": 1,
            "type": "integer"
          },
          "UserId": {
            "format": "int64",
            "description": "Gets or sets the userId for this task assignment.",
            "type": "integer"
          },
          "UserNameOrEmail": {
            "description": "Gets or sets the UserName or Email for this task assignment. If UserId is provided, this property is ignored.",
            "maxLength": 256,
            "type": "string"
          }
        }
      },
      "TaskDataSaveRequest": {
        "required": [
          "data",
          "taskId"
        ],
        "type": "object",
        "properties": {
          "taskId": {
            "format": "int64",
            "description": "TaskId to retrieve form",
            "type": "integer"
          },
          "data": {
            "description": "Task data json"
          }
        }
      },
      "AlertDto": {
        "description": "Stores notification data used to inform the users about specific application events.",
        "required": [
          "Severity"
        ],
        "type": "object",
        "properties": {
          "NotificationName": {
            "description": "The name of a specific type of notification, e.g. Robot.StatusChanged.NotResponding.",
            "type": "string"
          },
          "Data": {
            "description": "Stores data about the context in which the event occurred, in JSON format.",
            "type": "string"
          },
          "Component": {
            "description": "The component that raised the alert.",
            "enum": [
              "Robots",
              "Transactions",
              "Schedules",
              "Jobs",
              "Process",
              "Tasks",
              "Queues",
              "Folders",
              "PersonalWorkspaces",
              "TestAutomation",
              "Insights",
              "CloudRobots"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "AlertDtoComponent",
              "modelAsString": false
            }
          },
          "Severity": {
            "description": "The severity level of the alert.",
            "enum": [
              "Info",
              "Success",
              "Warn",
              "Error",
              "Fatal"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "AlertDtoSeverity",
              "modelAsString": false
            }
          },
          "CreationTime": {
            "format": "date-time",
            "description": "The date and time when the alert was generated.",
            "type": "string"
          },
          "State": {
            "description": "Defines if a specified notification has been read or not.\r\n<para />Members: Unread (0) - the specified notification has not been marked as read; Read (1) - the specified notification has been marked as read.",
            "enum": [
              "Unread",
              "Read"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "AlertDtoState",
              "modelAsString": false
            }
          },
          "UserNotificationId": {
            "format": "uuid",
            "description": "The database unique identifier for the alert notification sent to the current user.",
            "type": "string"
          },
          "Id": {
            "format": "uuid",
            "type": "string"
          }
        }
      },
      "ODataValueOfIEnumerableOfAlertDto": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/AlertDto"
            }
          }
        }
      },
      "ODataValueOfInt64": {
        "type": "object",
        "properties": {
          "value": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "AlertsMarkAsReadParameters": {
        "required": [
          "ids"
        ],
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "format": "uuid",
              "type": "string"
            }
          }
        }
      },
      "ProcessAlertDto": {
        "required": [
          "Message",
          "ProcessName",
          "RobotName",
          "Severity"
        ],
        "type": "object",
        "properties": {
          "Message": {
            "maxLength": 512,
            "minLength": 0,
            "type": "string"
          },
          "Severity": {
            "enum": [
              "Info",
              "Success",
              "Warn",
              "Error",
              "Fatal"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "ProcessAlertDtoSeverity",
              "modelAsString": false
            }
          },
          "RobotName": {
            "maxLength": 512,
            "minLength": 0,
            "type": "string"
          },
          "ProcessName": {
            "maxLength": 512,
            "minLength": 0,
            "type": "string"
          },
          "Id": {
            "format": "uuid",
            "type": "string"
          }
        }
      },
      "AlertsRaiseProcessAlertParameters": {
        "type": "object",
        "properties": {
          "processAlert": {
            "$ref": "#/definitions/ProcessAlertDto"
          }
        }
      },
      "WebhookEnvironmentDto": {
        "type": "object",
        "properties": {
          "Id": {
            "format": "int64",
            "type": "integer",
            "readOnly": true
          },
          "Name": {
            "type": "string",
            "readOnly": true
          },
          "Description": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "CustomKeyValuePair": {
        "description": "Stores a custom pair of key and value for assets with type KeyValueList.",
        "type": "object",
        "properties": {
          "Key": {
            "description": "A piece of text representing the key.",
            "type": "string"
          },
          "Value": {
            "description": "A piece of text representing the value.",
            "type": "string"
          }
        }
      },
      "AssetRobotValueDto": {
        "description": "Stores the value of an asset associated with a robot as well as the robot association data.",
        "type": "object",
        "properties": {
          "RobotId": {
            "format": "int64",
            "description": "The Id of the robot with which the asset is associated.",
            "type": "integer"
          },
          "RobotName": {
            "description": "The name of the robot with which the asset is associated.",
            "type": "string"
          },
          "KeyTrail": {
            "description": "Masked value of the robot key.",
            "type": "string"
          },
          "ValueType": {
            "description": "Defines the type of value stored by the asset.",
            "enum": [
              "DBConnectionString",
              "HttpConnectionString",
              "Text",
              "Bool",
              "Integer",
              "Credential",
              "WindowsCredential",
              "KeyValueList"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "AssetRobotValueDtoValueType",
              "modelAsString": false
            }
          },
          "StringValue": {
            "description": "The value of the asset when the value type is Text. Empty when the value type is not Text.",
            "maxLength": 1000000,
            "type": "string"
          },
          "BoolValue": {
            "description": "The value of the asset when the value type is Bool. False when the value type is not Bool.",
            "type": "boolean"
          },
          "IntValue": {
            "format": "int32",
            "description": "The value of the asset when the value type is Integer. 0 when the value type is not Integer.",
            "type": "integer"
          },
          "Value": {
            "description": "The textual representation of the asset value, irrespective of value type.",
            "type": "string"
          },
          "CredentialUsername": {
            "description": "The user name when the value type is Credential. Empty when the value type is not Credential.",
            "type": "string"
          },
          "CredentialPassword": {
            "description": "The password when the value type is Credential. Empty when the value type is not Credential.",
            "type": "string"
          },
          "ExternalName": {
            "description": "Contains the value of the key in the external store used to store the credentials.",
            "maxLength": 450,
            "minLength": 0,
            "type": "string"
          },
          "CredentialStoreId": {
            "format": "int64",
            "description": "The Credential Store used to store the credentials.",
            "type": "integer"
          },
          "KeyValueList": {
            "description": "A collection of key value pairs when the type is KeyValueList. Empty when the value type is not KeyValueList.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/CustomKeyValuePair"
            }
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "AssetUserValueDto": {
        "description": "Stores the value of an asset associated with a user.",
        "type": "object",
        "properties": {
          "UserId": {
            "format": "int64",
            "description": "The Id of the user with which the asset is associated.",
            "type": "integer"
          },
          "UserName": {
            "description": "The name of the user which the asset is associated.",
            "type": "string"
          },
          "MachineId": {
            "format": "int64",
            "description": "The Id of the machine which the asset is associated",
            "type": "integer"
          },
          "MachineName": {
            "description": "The name of the machine which the asset is associated.",
            "type": "string"
          },
          "ValueType": {
            "description": "Defines the type of value stored by the asset.",
            "enum": [
              "DBConnectionString",
              "HttpConnectionString",
              "Text",
              "Bool",
              "Integer",
              "Credential",
              "WindowsCredential",
              "KeyValueList"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "AssetUserValueDtoValueType",
              "modelAsString": false
            }
          },
          "StringValue": {
            "description": "The value of the asset when the value type is Text. Empty when the value type is not Text.",
            "maxLength": 1000000,
            "type": "string"
          },
          "BoolValue": {
            "description": "The value of the asset when the value type is Bool. False when the value type is not Bool.",
            "type": "boolean"
          },
          "IntValue": {
            "format": "int32",
            "description": "The value of the asset when the value type is Integer. 0 when the value type is not Integer.",
            "type": "integer"
          },
          "Value": {
            "description": "The textual representation of the asset value, irrespective of value type.",
            "type": "string"
          },
          "CredentialUsername": {
            "description": "The user name when the value type is Credential. Empty when the value type is not Credential.",
            "type": "string"
          },
          "CredentialPassword": {
            "description": "The password when the value type is Credential. Empty when the value type is not Credential.",
            "type": "string"
          },
          "CredentialStoreId": {
            "format": "int64",
            "description": "The Credential Store used to store the credentials.",
            "type": "integer"
          },
          "ExternalName": {
            "description": "Contains the value of the key in the external store used to store the credentials.",
            "maxLength": 450,
            "minLength": 0,
            "type": "string"
          },
          "KeyValueList": {
            "description": "A collection of key value pairs when the type is KeyValueList. Empty when the value type is not KeyValueList.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/CustomKeyValuePair"
            }
          },
          "Id": {
            "format": "int64",
            "type": "integer"
          }
        }
      },
      "AssetDto": {
        "description": "Stores specific data so that robots can easily have access to it.",
        "required": [
          "Name",
          "ValueScope"
        ],
        "type": "object",
        "properties": {
          "Name": {
            "description": "A custom name for the asset.",
            "maxLength": 256,
            "type": "string"
          },
          "CanBeDeleted": {
            "description": "States if an assets can be deleted. The default value of this property is true.",
            "type": "boolean"
          },
          "ValueScope": {
            "description": "Defines the scope of the asset.",
            "enum": [
              "Global",
              "PerRobot"
            ],
            "type": "string",
            "x-ms-enum": {
[...]
